<div class="full-wrap min-full">
  <div class="image coordinator-image"></div>
  <form action="" method="POST">
    <div class="row">
      <div class="title">Select Coordinators</div>
    </div>
    <div class="row">
      <label for="name">E-Mail</label>
      <input type="email" name="email" id="email" placeholder="E-Mail of existing student account" required>
    </div>
    <div class="row">
      <div class="text note">Note: This option will convert a Student account into a Coordinator account</div>
    </div>
    <div class="row">
      <div class="message" id="select-coordinator-message"></div>
    </div>
    <div class="row">
      <button type="button" onclick="selectCoordinator(event);" id="select-coordinator-button">
        <span>Select</span>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>
      </button>
    </div>
  </form>
</div>
