.profile
{
  padding:0 !important;
  overflow:hidden;
  display:flex;
  flex-direction:row;
}
.profile .picwrapper
{
  width:auto;
  height:100%;
  position:relative;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}
.profile .picwrapper img.pic
{
  height:100%;
  display:inline-block;
  position:relative;
}
.profile .picwrapper .overlay
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transform:translateY(-100%);
  opacity:0;
  color:#FFFFFF;
  transition:opacity 0.5s,transform 0.5s;
}
.profile .picwrapper:hover
{
  cursor:pointer;
}
.profile .picwrapper:hover .overlay
{
  opacity:1;
  transform:translateY(0%);
}
.profile .picwrapper .overlay::before
{
  content:"";
  width:100%;
  height:100%;
  background:var(--primary);
  opacity:0.6;
  position:absolute;
}
.profile .picwrapper .editwrapper
{
  width:auto;
  display:inline-block;
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.profile .picwrapper .editwrapper>*
{
  width:auto;
  display:inline-block;
  vertical-align:middle;
}
.profile .picwrapper .editwrapper .icon
{
  width:30px;
  height:30px;
  background:url("../../images/student/dashboard/edit.svg");
  background-position:center;
  background-repeat:no-repeat;
  background-size:90%;
}
.profile .picwrapper .editwrapper .title
{
  font-size:30px;
  text-shadow:0px 0px 2px #000000;
}
.profile .details
{
  width:100%;
  display:inline-block;
  position:relative;
}
.profile .details .wrapper
{
  width:auto;
  display:inline-block;
  position:relative;
  top:50%;
  left:50%;
  padding:0px 20px;
  box-sizing:border-box;
  transform:translate(-50%,-50%);
}
.profile .details .wrapper>*
{
  margin:15px 0px;
}
.profile .details .wrapper .name
{
  font-size:30px;
  font-weight:800;
}
.profile .details .wrapper .userid
{
  color:rgba(0,0,0,0.7);
  vertical-align:middle;
  line-height:20px;
}
.profile .details .wrapper .userid::before
{
  content:"@";
  vertical-align:text-top;
  position:relative;
  line-height:20px;
}
.profile .details .wrapper .email,.profile .details .wrapper .phone,.profile .details .wrapper .bio
{
  font-family:"Consolas","Courier New","Courier","Arial",sans-serif;
}
.profile .details .wrapper .bio
{
  color:rgba(0,0,0,0.5);
}
@media (max-width:600px)
{
  .profile
  {
    flex-direction:column;
  }
  .profile .details
  {
    height:100%;
  }
  .profile .picwrapper
  {
    clip-path:none;
    width:100%;
    height:auto;
  }
  .profile .picwrapper img.pic
  {
    width:100%;
    height:auto;
  }
}
.profile .edit
{
  position:absolute;
  bottom:0;
  right:0;
  width:0px;
  height:0px;
  border-radius:50%;
  transform:translate(50%,50%);
  transition:width 0.3s,height 0.3s;
  background:var(--primary) url("../../images/student/dashboard/edit.svg");
  background-size:20%;
  background-repeat:no-repeat;
  background-position:25% 25%;
}
.profile:hover .edit
{
  width:120px;
  height:120px;
}
.layout .item .fullwrapper
{
  position:relative;
  width:auto;
  height:auto;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.layout .item .fullwrapper .titlewrapper
{
  width:100%;
  height:auto;
  max-width:100%;
  text-align:center;
  margin-bottom:10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  position:relative;
}
.layout .item .fullwrapper .titlewrapper .iconic
{
  width:70px;
  height:70px;
  margin-bottom:12px;
  transform:translateY(0%);
  backface-visibility:visible;
  position:relative;
}
.layout .item .fullwrapper .titlewrapper .iconic svg
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:100%;
  height:100%;
}
.layout .item .fullwrapper .titlewrapper .title
{
  display:inline-block;
  width:auto;
  height:auto;
  font-size:var(--title-font);
  font-family:"lemon","arial","roboto",sans-serif;
  text-shadow:0px 0px 5px #000000;
  position:relative;
  vertical-align:middle;
  word-wrap:break-word;
  margin-bottom:10px;
}
.layout .item .fullwrapper .contents
{
  position:relative;
  top:0;
  left:50%;
  transform:translateX(-50%);
  display:inline-block;
  width:auto;
  height:auto;
  font-size:var(--content-font);
  box-sizing:border-box;
  padding-left:20px;
}
.layout .item .fullwrapper .contents .content
{
  width:100%;
  height:auto;
  font-size:var(--content-font);
  padding:5px;
  box-sizing:border-box;
  position:relative;
  overflow:visible;
  letter-spacing:1px;
  word-spacing:2px;
  text-shadow:0px 0px 5px #000000;
}
.layout .item .fullwrapper .contents .content::before
{
  content:"";
  position:absolute;
  top:50%;
  left:0;
  transform:translate(-150%,-50%) rotate(45deg);
  width:5px;
  height:5px;
  background:transparent;
  border-top:2px solid #FFFFFF;
  border-right:2px solid #FFFFFF;
}
.item:hover .iconic
{
  transform:translateY(-30%) rotateY(30deg);
  animation:show 2s ease-in-out 1 forwards;
}
@keyframes show
{
  0%
  {
    transform:translateY(-0%) rotateY(0deg);
  }
  20%
  {
    transform:translateY(-30%) rotateY(0deg);
  }
  25%
  {
    transform:translateY(-30%) rotateY(0deg);
  }
  100%
  {
    transform:translateY(-30%) rotateY(360deg);
  }
}
.horizontallist
{
  --card-width:200px;
  display:grid;
  grid-template-columns:repeat(auto-fill,var(--card-width));\
  grid-template-rows:repeat(1,100%);
  grid-auto-flow:column;
  grid-gap:10px;
  overflow-x:auto;
  box-sizing:border-box;
  position:relative;
}
.horizontallist:hover
{
  grid-template-rows:repeat(1,calc(100% - 10px));/*reduce scrollbar height*/
}
.horizontallist::after
{
  content:"";
  position:relative;
  background:transparent;
  width:1px;
  height:100%;
}
.horizontallist::-webkit-scrollbar
{
  width:0px;
  height:0px;
  transition:width 0.3s,height 0.3s;
  background:var(--primary0);
}
.horizontallist::-webkit-scrollbar-thumb
{
  background:var(--primary5);
}
.horizontallist::-webkit-scrollbar-thumb:hover
{
  background:var(--primary8);
}
.horizontallist:hover::-webkit-scrollbar
{
  width:10px;
  height:10px;
}
.horizontallist .card
{
  width:100%;
  min-width:var(--card-width);
  height:100%;
  background:var(--primary0) linear-gradient(45deg,var(--primary0),var(--primary0),var(--primary1));
  background-image: radial-gradient(circle at 80% 60%, rgba(17, 17, 17,0.03) 0%, rgba(17, 17, 17,0.03) 50%,rgba(197, 197, 197,0.03) 50%, rgba(197, 197, 197,0.03) 100%),radial-gradient(circle at 26% 17%, rgba(64, 64, 64,0.03) 0%, rgba(64, 64, 64,0.03) 50%,rgba(244, 244, 244,0.03) 50%, rgba(244, 244, 244,0.03) 100%),radial-gradient(circle at 44% 60%, rgba(177, 177, 177,0.03) 0%, rgba(177, 177, 177,0.03) 50%,rgba(187, 187, 187,0.03) 50%, rgba(187, 187, 187,0.03) 100%),linear-gradient(45deg,#FFFFFF,#FFFFFF,var(--primary0),var(--primary0),var(--primary1));
}
@media (max-width:600px)
{
  .horizontallist
  {
    grid-area:span 1 / span 1 !important;
  }
}
