body
{
  --title-size:25px;
}
.hidden
{
  display:none!important;
}
.profile
{
  padding:0 !important;
  overflow:hidden;
  display:flex;
  flex-direction:row;
}
.profile .picwrapper
{
  width:auto;
  height:100%;
  position:relative;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}
.profile .picwrapper img.pic
{
  height:100%;
  display:inline-block;
  position:relative;
}
.profile .picwrapper .overlay
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transform:translateY(-100%);
  opacity:0;
  color:#FFFFFF;
  transition:opacity 0.5s,transform 0.5s;
}
.profile .picwrapper:hover
{
  cursor:pointer;
}
.profile .picwrapper:hover .overlay
{
  /* Disabled because edit not implemented */
  /* opacity:1;
  transform:translateY(0%); */
}
.profile .picwrapper .overlay::before
{
  content:"";
  width:100%;
  height:100%;
  background:var(--primary);
  opacity:0.6;
  position:absolute;
}
.profile .picwrapper .editwrapper
{
  width:auto;
  display:inline-block;
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.profile .picwrapper .editwrapper>*
{
  width:auto;
  display:inline-block;
  vertical-align:middle;
}
.profile .picwrapper .editwrapper .icon
{
  width:30px;
  height:30px;
  background:url("../../images/student/dashboard/edit.svg");
  background-position:center;
  background-repeat:no-repeat;
  background-size:90%;
}
.profile .picwrapper .editwrapper .title
{
  font-size:30px;
  text-shadow:0px 0px 2px #000000;
}
.profile .details
{
  width:100%;
  display:inline-block;
  position:relative;
}
.profile .details .wrapper
{
  width:auto;
  display:inline-block;
  position:relative;
  top:50%;
  left:50%;
  padding:0px 20px;
  box-sizing:border-box;
  transform:translate(-50%,-50%);
}
.profile .details .wrapper>*
{
  margin:15px 0px;
}
.profile .details .wrapper .name
{
  font-size:30px;
  font-weight:800;
}
.profile .details .wrapper .course
{
  color:rgba(0,0,0,0.7);
  vertical-align:middle;
  line-height:20px;
}
.profile .details .wrapper .email,.profile .details .wrapper .phone,.profile .details .wrapper .bio
{
  font-family:var(--font-monospace);
}
.profile .details .wrapper .bio
{
  color:rgba(0,0,0,0.5);
}
@media (max-width:600px)
{
  .profile
  {
    flex-direction:column;
  }
  .profile .details
  {
    height:100%;
  }
  .profile .picwrapper
  {
    clip-path:none;
    width:100%;
    height:auto;
  }
  .profile .picwrapper img.pic
  {
    width:100%;
    height:auto;
  }
}
.profile .edit
{
  position:absolute;
  bottom:0;
  right:0;
  width:0px;
  height:0px;
  border-radius:50%;
  transform:translate(50%,50%);
  transition:width 0.3s,height 0.3s;
  background:var(--primary) url("../../images/student/dashboard/edit.svg");
  background-size:20%;
  background-repeat:no-repeat;
  background-position:25% 25%;
}
.profile:hover .edit
{
  /* width:120px;
  height:120px; */
}
.layout .item .fullwrapper
{
  position:relative;
  width:auto;
  height:auto;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.layout .item .fullwrapper .titlewrapper
{
  width:100%;
  height:auto;
  max-width:100%;
  text-align:center;
  margin-bottom:10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  position:relative;
}
.layout .item .fullwrapper .titlewrapper .iconic
{
  width:70px;
  height:70px;
  margin-bottom:12px;
  transform:translateY(0%);
  backface-visibility:visible;
  position:relative;
}
.layout .item .fullwrapper .titlewrapper .iconic svg
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:100%;
  height:100%;
}
.layout .item .fullwrapper .titlewrapper .title
{
  display:inline-block;
  width:auto;
  height:auto;
  font-size:var(--title-size);
  font-family:var(--font-title);
  text-shadow:0px 0px 5px #000000;
  position:relative;
  vertical-align:middle;
  word-wrap:break-word;
  margin-bottom:10px;
}
.layout .item .fullwrapper .contents
{
  position:relative;
  top:0;
  left:50%;
  transform:translateX(-50%);
  display:inline-block;
  width:auto;
  height:auto;
  font-size:var(--content-font);
  box-sizing:border-box;
  padding-left:20px;
}
.layout .item .fullwrapper .contents .content
{
  width:100%;
  height:auto;
  font-size:var(--content-font);
  padding:5px;
  box-sizing:border-box;
  position:relative;
  overflow:visible;
  letter-spacing:1px;
  word-spacing:2px;
  text-shadow:0px 0px 5px #000000;
}
.layout .item .fullwrapper .contents .content::before
{
  content:"";
  position:absolute;
  top:50%;
  left:0;
  transform:translate(-150%,-50%) rotate(45deg);
  width:5px;
  height:5px;
  background:transparent;
  border-top:2px solid #FFFFFF;
  border-right:2px solid #FFFFFF;
}
.item:hover .iconic
{
  transform:translateY(-30%) rotateY(30deg);
  animation:show 2s ease-in-out 1 forwards;
}
@keyframes show
{
  0%
  {
    transform:translateY(-0%) rotateY(0deg);
  }
  20%
  {
    transform:translateY(-30%) rotateY(0deg);
  }
  25%
  {
    transform:translateY(-30%) rotateY(0deg);
  }
  100%
  {
    transform:translateY(-30%) rotateY(360deg);
  }
}
.horizontallist
{
  --card-width:200px;
  display:grid;
  grid-template-columns:repeat(auto-fill,var(--card-width));
  grid-template-rows:repeat(1,100%);
  grid-auto-flow:column;
  grid-gap:10px;
  overflow-x:auto;
  box-sizing:border-box;
  position:relative;
}
.horizontallist:hover
{
  grid-template-rows:repeat(1,calc(100% - 10px));/*reduce scrollbar height*/
}
.horizontallist::after
{
  content:"";
  position:relative;
  background:transparent;
  width:1px;
  height:100%;
}
.horizontallist::-webkit-scrollbar
{
  width:0px;
  height:0px;
  transition:width 0.3s,height 0.3s;
  background:var(--primary0);
}
.horizontallist::-webkit-scrollbar-thumb
{
  background:var(--primary5);
}
.horizontallist::-webkit-scrollbar-thumb:hover
{
  background:var(--primary8);
}
.horizontallist:hover::-webkit-scrollbar
{
  width:10px;
  height:10px;
}
.horizontallist .card
{
  width:100%;
  position:relative;
  padding:45px 5px 5px 5px;
  box-sizing:border-box;
  min-width:var(--card-width);
  height:100%;
  font-weight:900;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  background:var(--primary0) linear-gradient(45deg,var(--primary0),var(--primary0),var(--primary1));
  background-image: radial-gradient(circle at 80% 60%, rgba(17, 17, 17,0.03) 0%, rgba(17, 17, 17,0.03) 50%,rgba(197, 197, 197,0.03) 50%, rgba(197, 197, 197,0.03) 100%),radial-gradient(circle at 26% 17%, rgba(64, 64, 64,0.03) 0%, rgba(64, 64, 64,0.03) 50%,rgba(244, 244, 244,0.03) 50%, rgba(244, 244, 244,0.03) 100%),radial-gradient(circle at 44% 60%, rgba(177, 177, 177,0.03) 0%, rgba(177, 177, 177,0.03) 50%,rgba(187, 187, 187,0.03) 50%, rgba(187, 187, 187,0.03) 100%),linear-gradient(45deg,#FFFFFF,#FFFFFF,var(--primary0),var(--primary0),var(--primary1));
}
.horizontallist .card .website
{
  position:absolute;
  top:0;
  right:0;
  padding:5px;
  cursor:pointer;
}
.horizontallist .card .website svg
{
  stroke:#505050;
  transition:color 0.3s,transform 0.3s;
  transform:scale(1);
}
.horizontallist .card .website:hover svg
{
  stroke:#000000;
  transform:scale(1.1);
}
.horizontallist .card.no-pad
{
  padding-top:5px!important;
}
.no-pad svg
{
  width:100px;
  height:100px;
  margin:0px auto;
}
.horizontallist .card img
{
  width:100px;
  height:100px;
  border-radius:50%;
  margin:10px auto;
  object-fit:contain;
  object-position:center;
}
.horizontallist .card .first
{
  font-size:24px;
  font-weight:900;
  text-align:center;
}
.horizontallist .card .name
{
  font-size:24px;
  text-align:center;
  margin-bottom:10px;
  font-weight:900;
  color:#0277bd;
}
.horizontallist .card .type,
.horizontallist .card .title
{
  text-align:center;
  margin:5px 0px;
  text-transform:capitalize;
  font-size:16px;
}
.horizontallist .card .type
{
  font-weight:400;
}
.horizontallist .card .title
{
  font-weight:900;
}
.horizontallist .card .salary,
.horizontallist .card .vacancy
{
  font-weight:900;
}
.horizontallist .card .row
{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:0px 20px;
  font-weight:400;
  box-sizing:border-box;
}
.verticallist
{
  --card-height:50px;
  display:grid;
  grid-template-columns:repeat(1,100%);
  grid-auto-rows:minmax(min-content,max-content);
  grid-auto-flow:row;
  grid-gap:20px;
  padding:20px!important;
  overflow-y:auto;
  box-sizing:border-box;
  position:relative;
}
.verticallist::after
{
  content:"";
  position:relative;
  background:transparent;
  width:100%;
  height:1px;
}
.verticallist::-webkit-scrollbar
{
  width:10px;
  height:10px;
  transition:width 0.3s,height 0.3s;
  background:var(--primary0);
}
.verticallist::-webkit-scrollbar-thumb
{
  background:var(--primary5);
}
.verticallist::-webkit-scrollbar-thumb:hover
{
  background:var(--primary8);
}
.verticallist .card
{
  width:100%;
  height:100%;
  min-height:var(--card-height);
  background-image: linear-gradient(263deg, transparent 0%, transparent 55%,rgba(64,64,64, 0.09) 55%, rgba(64,64,64, 0.09) 76%,transparent 76%, transparent 100%),linear-gradient(353deg, transparent 0%, transparent 14%,rgba(64,64,64, 0.09) 14%, rgba(64,64,64, 0.09) 41%,transparent 41%, transparent 100%),linear-gradient(263deg, transparent 0%, transparent 2%,rgba(64,64,64, 0.09) 2%, rgba(64,64,64, 0.09) 18%,transparent 18%, transparent 100%),linear-gradient(353deg, transparent 0%, transparent 61%,rgba(64,64,64, 0.09) 61%, rgba(64,64,64, 0.09) 71%,transparent 71%, transparent 100%),linear-gradient(308deg, rgb(255,255,255),rgb(255,255,255));
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  padding:20px;
  box-sizing:border-box;
  border-radius:10px;
  box-shadow:0px 0px 5px 1px rgba(0,0,0,0.5) inset,
             0px 0px 10px 1px rgba(0,0,0,0.5) inset,
             0px 0px 15px 1px rgba(0,0,0,0.3) inset;
}
.verticallist .card .title
{
  font-size:18px;
  letter-spacing:1px;
  font-weight:600;
  margin-bottom:10px;
}
.verticallist .card .subtitle
{
  font-size:16px;
  letter-spacing:1px;
  font-weight:400;
  text-align:justify;
  line-height:30px;
}
.item.normal .fullwrapper.inversefullwrapper .iconic svg
{
  stroke:#000;
}
.item.normal .fullwrapper.inversefullwrapper .titlewrapper .title,
.item.normal .fullwrapper.inversefullwrapper .contents,
.item.normal .fullwrapper.inversefullwrapper .contents .content
{
  text-shadow:none;
  color:#000;
}
.item.normal .fullwrapper.inversefullwrapper .contents .content::before
{
  border-color:#000;
}
.layout .item.item-link:hover
{
  cursor:pointer;
}
.layout .prediction
{
  display:flex;
  flex-direction:row;
}
.layout .prediction-success
{
  background:#d26ea5;
  /* filter:hue-rotate(250deg) contrast(2); */
}
.layout .prediction-failure
{
  background:#74bf3d;
}
.layout .prediction .icon
{
  width:260px;
  height:100%;
  background-position:center;
  background-repeat:no-repeat;
  background-size:contain;
}
.layout .prediction-success .icon
{
  background-image:url("../../images/student/predict-success.gif");
  background-size:175%;
}
.layout .prediction-failure .icon
{
  background-image:url("../../images/student/predict-failure.gif");
  box-shadow:0px 0px 75px 30px #74bf3d inset;
}
.layout .wrap
{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-evenly;
}
.layout .wrap .title
{
  font-size:var(--title-size);
  font-weight:900;
  letter-spacing:1px;
  font-family:var(--font-title);
  text-align:center;
}
.layout .wrap .sub-title
{
  font-size:20px;
  letter-spacing:1px;
  font-family:var(--font-sub-title);
  text-align:left;
  display:block;
  width:100%;
  max-width:400px;
  margin:0px auto;
}
.suggestion
{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:center;
}
.suggestion .title
{
  font-size:var(--title-size);
  letter-spacing:1px;
  font-family:var(--font-title);
}
.suggestion .sub-title
{
  font-size:20px;
  letter-spacing:1px;
  font-family:var(--font-sub-title);
  text-align:left;
  width:100%;
  max-width:250px;
  padding:0px 20px;
  position:relative;
}
.suggestion .sub-title::before
{
  content:"";
  position:absolute;
  top:50%;
  left:0;
  width:10px;
  height:10px;
  background:#000000;
  transform:translateY(-50%);
}
@media (max-width:600px)
{
  .horizontallist
  {
    grid-area:span 1 / span 1 !important;
  }
  .layout .prediction
  {
    flex-direction:column;
  }
  .layout .prediction .icon
  {
    width:100%;
    height:260px;
    background-size:contain;
  }
  .layout .prediction-success .icon
  {
    width:100%;
    height:260px;
    min-height:40vh;
    background-size:80%;
  }
  body
  {
    --title-size:20px;
  }
  .layout .prediction .wrap .sub-title
  {
    min-width:100%;
    width:100%;
    text-align:center!important;
  }
}
@media (max-width:350px)
{
  .layout .prediction-success .icon
  {
    background-size:150%;
  }
  body
  {
    --title-size:16px;
  }
}
.upload
{
  width:100%;
  min-width:150px;
  min-height:180px;
  height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background:rgba(0,0,0,0.1);
  font-size:24px;
  border-radius:10px;
  transition:background-color 0.3s;
  cursor:pointer;
}
.upload:hover
{
  background:rgba(0,0,0,0.2);
}
