* {
    padding: 0;
    margin: 0;
}
:root {
    --nav-height: 50px;
    --menu-width: 320px;
    --transition-timing: 0.8s;
    --grid-gap: 17px;
    --side-gap: 17px;
    --grid-space: calc(var(--grid-gap) * 1.2);
    --scroll: 12px;
    --title-height: 50px;
    --title-font: 25px;
    --content-font: 17px;

    --primary: #2196f3;
    --primary0: #e3f2fd;
    --primary1: #bbdefb;
    --primary2: #90caf9;
    --primary3: #64b5f6;
    --primary4: #42a5f5;
    --primary5: #2196f3;
    --primary6: #1e88e5;
    --primary7: #1976d2;
    --primary8: #1565c0;
    --primary9: #0d47a1;
    --text: "Roboto", "Arial", sans-serif;
}
@media (max-width: 300px) {
    :root {
        --grid-gap: 10px;
        --grid-space: var(--grid-gap);
        --side-gap: 12px;
        --title-font: 20px;
        --content-font: 15px !important;
    }
}
@media (max-width: 250px) {
    :root {
        --grid-gap: 10px;
        --grid-space: 0px;
        --side-gap: 8px;
    }
}
.hidden {
    display: none;
}
:root,
body {
    width: 100%;
    height: 100vh;
    user-select: none;
    font-family: var(--text);
}
.nav {
    position: relative;
    width: 100%;
    height: var(--nav-height);
    background: var(--primary5)
        linear-gradient(90deg, var(--primary5), var(--primary9));
    background: repeating-linear-gradient(
            45deg,
            rgba(249, 249, 249, 0.1) 0px,
            rgba(249, 249, 249, 0.1) 28px,
            rgba(8, 8, 8, 0.1) 28px,
            rgba(8, 8, 8, 0.1) 39px,
            rgba(75, 75, 75, 0.1) 39px,
            rgba(75, 75, 75, 0.1) 75px,
            rgba(78, 78, 78, 0.1) 75px,
            rgba(78, 78, 78, 0.1) 104px,
            rgba(91, 91, 91, 0.1) 104px,
            rgba(91, 91, 91, 0.1) 133px,
            rgba(6, 6, 6, 0.1) 133px,
            rgba(6, 6, 6, 0.1) 163px,
            rgba(17, 17, 17, 0.1) 163px,
            rgba(17, 17, 17, 0.1) 176px
        ),
        repeating-linear-gradient(
            45deg,
            rgba(212, 212, 212, 0.1) 0px,
            rgba(212, 212, 212, 0.1) 36px,
            rgba(239, 239, 239, 0.1) 36px,
            rgba(239, 239, 239, 0.1) 84px,
            rgba(144, 144, 144, 0.1) 84px,
            rgba(144, 144, 144, 0.1) 132px,
            rgba(123, 123, 123, 0.1) 132px,
            rgba(123, 123, 123, 0.1) 173px,
            rgba(132, 132, 132, 0.1) 173px,
            rgba(132, 132, 132, 0.1) 194px,
            rgba(155, 155, 155, 0.1) 194px,
            rgba(155, 155, 155, 0.1) 235px,
            rgba(204, 204, 204, 0.1) 235px,
            rgba(204, 204, 204, 0.1) 261px
        ),
        repeating-linear-gradient(
            45deg,
            rgba(156, 156, 156, 0.07) 0px,
            rgba(156, 156, 156, 0.07) 64px,
            rgba(160, 160, 160, 0.07) 64px,
            rgba(160, 160, 160, 0.07) 126px,
            rgba(151, 151, 151, 0.07) 126px,
            rgba(151, 151, 151, 0.07) 248px,
            rgba(199, 199, 199, 0.07) 248px,
            rgba(199, 199, 199, 0.07) 318px,
            rgba(80, 80, 80, 0.07) 318px,
            rgba(80, 80, 80, 0.07) 453px,
            rgba(134, 134, 134, 0.07) 453px,
            rgba(134, 134, 134, 0.07) 587px,
            rgba(88, 88, 88, 0.07) 587px,
            rgba(88, 88, 88, 0.07) 686px
        ),
        linear-gradient(90deg, var(--primary4), var(--primary9));
    border-bottom: 1px solid var(--primary9);
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 1px #000000;
    z-index: 5;
    overflow: hidden;
}
.container {
    position: relative;
    width: 100%;
    height: calc(100% - var(--nav-height));
    z-index: 1;
}
.searchcontainer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    float: right;
    position: relative;
    height: 100%;
    margin: 0px 10px;
}
.searchcontainer .search {
    display: inline-block;
    width: 200px;
    height: calc(var(--nav-height) * 0.7);
    background: transparent;
    box-sizing: border-box;
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    transition: border 0.3s, background-color 0.3s;
    letter-spacing: 1px;
    border-radius: 2px;
    color: #ffffff;
}
.side .searchcontainer {
    margin: 0px 0px;
}
.side .searchcontainer .search {
    width: 100%;
}
.searchcontainer .search::placeholder {
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.3s;
}
.searchcontainer .search:focus::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.searchcontainer .search::selection {
    color: #000000;
    background: #ffffff;
}
.searchcontainer .search:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.searchcontainer .search:focus {
    border: 1px solid rgba(255, 255, 255, 1);
    outline: 0px solid transparent;
    border-radius: 0px;
}
#searchcontainermin .search:focus {
    background-color: rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
    .side .searchcontainer {
        display: none;
    }
}
@media (max-width: 599px) {
    .nav .searchcontainer {
        display: none;
    }
}
.searchresultcontainer {
    width: 200px;
    height: auto;
    max-height: 130px;
    overflow-y: auto;
    background: var(--primary8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: inline-block;
    padding: 0px 6px;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 15px 25px 1px rgba(0, 0, 0, 0.5);
}
.searchresultcontainer::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: rgba(0, 0, 0, 0.2);
}
.searchresultcontainer::-webkit-scrollbar-thumb {
    background-color: var(--primary3);
    transition: background-color 0.3s;
}
.searchresultcontainer::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary5);
}
.searchresultcontainer .item {
    display: block;
    width: 100%;
    padding: 5px 8px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    margin: 10px 0px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #ffffff;
    border-radius: 2px;
    text-decoration: none;
}
#searchcontainermin .searchresultcontainer {
    width: calc(100% - (2 * var(--side-gap))) !important;
    background: #ffffff;
    color: var(--primary9);
}
#searchcontainermin .searchresultcontainer .item {
    background: var(--primary1)
        linear-gradient(90deg, var(--primary1), var(--primary0));
    color: var(--primary9);
}
.searchresultcontainer .noresult,
#searchcontainermin .searchresultcontainer .noresult {
    background: transparent;
    text-transform: none;
}
.searchresultcontainer .item span.high {
    color: #c0f0f0;
}
#searchcontainermin .searchresultcontainer .item span.high {
    color: var(--primary5);
}
.nav .app {
    display: inline-block;
    width: auto;
    height: var(--nav-height);
}
.nav .app:hover {
    cursor: pointer;
}
.nav .app * {
    vertical-align: middle;
    display: inline-block;
}
.nav .app .icon {
    width: calc(var(--nav-height) * 0.9);
    height: calc(var(--nav-height) * 0.9);
    background-image: url("../../images/favicon.svg");
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
}
.nav .app .wrapper {
    width: auto;
    height: var(--nav-height);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.nav .app .wrapper .title {
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1px;
    font-size: 18px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}
.nav .app .wrapper .title .version {
    padding-left: 10px;
    color: rgba(255, 255, 255, 1);
    float: right;
    font-weight: 300;
    text-shadow: 0px 0px 0px transparent;
}
.nav .app .wrapper .title .version:before {
    content: "version";
    font-size: 12px;
    padding-right: 2px;
    margin-left: 10px;
}
.nav .app .wrapper .subtitle {
    color: rgba(255, 255, 255, 0.8);
    font-size: 11px;
    letter-spacing: 1px;
    word-spacing: 2px;
}
@media (max-width: 350px) /*Mobile*/ {
    :root {
        --nav-height: 45px;
    }
}
.nav .menu {
    width: var(--nav-height);
    height: var(--nav-height);
    padding: calc(var(--nav-height) / 4) calc(var(--nav-height) / 5);
    margin: 0px 2.5px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    float: right;
}
.nav .menu:hover {
    cursor: pointer;
}
.nav .menu:focus {
    outline: 1px solid transparent;
}
.nav .menu .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: transform 0.5s;
    display: grid;
    grid-template-rows: repeat(3, 2px);
    grid-gap: calc(var(--nav-height) / 6);
}
.show-menu .nav .menu .wrapper {
    transform: translate(15%);
}
.nav .menu .wrapper .box {
    width: 100%;
    height: 2px !important;
    max-height: 2px !important;
    min-height: 2px !important;
    background-color: var(--primary0);
    transform-origin: 1% center;
    opacity: 1;
    transition: transform 0.5s, opacity 0.2s, border-radius 0.8s,
        background-color 0.4s;
}
.show-menu .nav .menu .wrapper .box:nth-child(1) {
    transform: rotate(45deg);
    border-radius: 50px;
}
.show-menu .nav .menu .wrapper .box:nth-child(2) {
    opacity: 0;
}
.show-menu .nav .menu .wrapper .box:nth-child(3) {
    transform: rotate(-45deg);
    border-radius: 50px;
}
.nav .menu:hover .wrapper .box {
    background-color: #ffffff;
}
.contents {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.contents .body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    float: left;
    z-index: 2;
    overflow: auto;
    transition: width var(--transition-timing);
    background: #f8f8f8;
    box-sizing: border-box;
}
.contents .body::-webkit-scrollbar,
.external-job-search-result::-webkit-scrollbar,
.skill-recommendation::-webkit-scrollbar {
    width: var(--scroll);
    height: var(--scroll);
    background: rgba(0, 0, 0, 0.2);
}
.contents .body::-webkit-scrollbar-thumb,
.external-job-search-result::-webkit-scrollbar-thumb,
.skill-recommendation::-webkit-scrollbar-thumb {
    background-color: var(--primary3);
    transition: background-color 0.3s;
}
.contents .body::-webkit-scrollbar-thumb:hover,
.external-job-search-result::-webkit-scrollbar-thumb:hover,
.skill-recommendation::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary5);
}
.contents .seperator {
    display: none;
}
.contents .side {
    width: var(--menu-width);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-auto-rows: fit-content(80px);
    grid-auto-flow: row dense;
    grid-gap: var(--side-gap);
    padding: var(--side-gap);
    float: left;
    box-sizing: border-box;
    border-left: 1px solid var(--primary9);
    z-index: 4;
    transition: transform var(--transition-timing),
        box-shadow calc(var(--transition-timing) / 4);
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--primary5);
    background: linear-gradient(120deg, var(--primary3), var(--primary9));
    background: linear-gradient(
            228deg,
            rgba(250, 250, 250, 0.08) 0%,
            rgba(250, 250, 250, 0.08) 53%,
            rgba(64, 64, 64, 0.08) 53%,
            rgba(64, 64, 64, 0.08) 100%
        ),
        linear-gradient(
            115deg,
            rgba(10, 10, 10, 0.08) 0%,
            rgba(10, 10, 10, 0.08) 27%,
            rgba(94, 94, 94, 0.08) 27%,
            rgba(94, 94, 94, 0.08) 100%
        ),
        linear-gradient(
            204deg,
            rgba(4, 4, 4, 0.08) 0%,
            rgba(4, 4, 4, 0.08) 18%,
            rgba(188, 188, 188, 0.08) 18%,
            rgba(188, 188, 188, 0.08) 100%
        ),
        linear-gradient(90deg, var(--primary4), var(--primary9)) !important;
}
.contents .side::after {
    content: "";
    height: 1px;
    order: 5;
}
.contents .side::-webkit-scrollbar {
    width: var(--scroll);
    background-color: rgba(255, 255, 255, 0.2);
}
.contents .side::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s;
}
.contents .side::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.6);
}
.show-menu .contents .body {
    width: calc(100% - var(--menu-width));
}
.show-menu .contents .side {
    width: var(--menu-width);
    transform: translateX(0%);
    box-shadow: 0px 0px 5px #000000;
}
@media (max-width: 950px) /*tablet*/ {
    .show-menu .contents .body {
        width: 100% !important;
    }
    .contents .seperator {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color var(--transition-timing);
    }
    .show-menu .contents .seperator {
        display: block;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }
}
@media (max-width: 450px) /*Mobile*/ {
    :root {
        --menu-width: 100%;
        --grid-gap: 12px;
        --scroll: 5px;
    }
    .show-menu .contents .side {
        box-shadow: none;
        border-left: 0px solid transparent;
    }
    .contents .side .option {
        border-radius: 0px !important;
    }
}
.contents .side .option {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.2s;
    text-decoration: none;
    /* border-radius:0px 15px 0px 15px; */
    overflow: hidden;
    white-space: nowrap;
}
.contents .side .option:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.contents .side .option:hover .icon svg {
    stroke: #000000;
}
.contents .side .option:hover .wrapper .title,
.contents .side .option:hover .wrapper .subtitle {
    color: #000000;
}
.show-menu .contents .side .option::after,
.show-menu .contents .side .option::before {
    content: "";
    position: absolute;
    top: -10%;
    left: -10%;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    filter: blur(1px);
    animation: shine 3s linear infinite 0.5s normal;
}
.contents .side .option::after {
    height: 20px;
    transform: translate(-50%, -50%) rotate(-45deg);
    background: rgba(255, 255, 255, 0.4);
    filter: blur(1px);
}
.contents .side .option::before {
    height: 5px;
    transform: translate(-65%, -65%) rotate(-45deg);
    background: rgba(255, 255, 255, 0.4);
    filter: blur(5px);
}
@keyframes shine {
    0% {
        top: -10%;
        left: -10%;
    }
    100% {
        top: 250%;
        left: 250%;
    }
}
.side .option * {
    vertical-align: middle;
    display: inline-block;
}
.side .option .icon {
    width: 80px;
    height: 80px;
    position: relative;
}
.side .option .icon svg {
    width: 50px;
    height: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    stroke: #ffffff;
    transition: stroke 0.3s;
}
.side .option .wrapper {
    width: auto;
    height: 80px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.side .option .title {
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: capitalize;
    transition: color 0.3s;
}
.side .option .wrapper .subtitle {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    letter-spacing: 1px;
    transition: color 0.3s;
}
@media (max-width: 250px) {
    .contents .side .option {
        border-radius: 0px;
    }
    .side .option .icon {
        width: 50px;
        height: 50px;
    }
    .side .option .title {
        letter-spacing: 1px;
        font-size: 16px;
    }
    .side .option .wrapper .subtitle {
        font-size: 14px;
    }
}
.loading,
.error,
.no-results {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.no-results {
    width: 50vmin;
    height: 50vmin;
    min-width: 400px;
    min-height: 400px;
}
.loading,
.error {
    width: 80px;
    height: 80px;
}
.loading {
    background-image: url("../../images/loading.svg");
    animation: load-rotate 2s linear infinite normal;
}
@keyframes load-rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.error {
    background-image: url("../../images/warning.svg");
    transform: translate(-50%, -50%) scale(1, 1);
    animation: beat 0.5s linear infinite alternate;
}
@keyframes beat {
    0% {
        transform: translate(-50%, -50%) scale(1, 1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1.3, 1.3);
    }
}
.layout {
    width: calc(100% - (var(--grid-space) * 2));
    margin: var(--grid-space);
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-auto-rows: minmax(250px, calc(50vh - var(--nav-height)));
    grid-auto-flow: row dense;
    grid-gap: var(--grid-gap);
    box-sizing: border-box;
    overflow: visible;
}
.layout .item {
    background: var(--primary)
        linear-gradient(45deg, var(--primary5), var(--primary9));
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    /* box-shadow:0px 0px 10px 0px rgba(0,0,0,0.7) inset,     0px 0px 0px 0px rgba(0,0,0,0);
  transition:box-shadow 0.4s; */
    padding: 10px;
    box-sizing: border-box;
    transform: scale(0);
    animation: ld 0.2s linear 1 forwards;
}
@keyframes ld {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
.layout .item:hover {
    /* box-shadow:0px 0px 0px 0px rgba(0,0,0,0) inset,     0px 0px 5px 0px rgba(0,0,0,0.3); */
}
@media (max-width: 250px) {
    .layout .item,
    .layout .special {
        border-radius: 0px !important;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3) !important;
    }
}
.layout .normal {
    grid-area: span 1 / span 1;
}
.layout .wide {
    grid-area: span 1 / span 2;
}
.layout .tall {
    grid-area: span 2 / span 1;
}
.layout .huge {
    grid-area: span 2 / span 2;
}
.special {
    color: #ffffff;
    background: var(--primary)
        linear-gradient(270deg, var(--primary4), var(--primary9)) !important; /* Alternate less complex bg */
    background: repeating-linear-gradient(
            135deg,
            rgba(54, 54, 54, 0.06) 0px,
            rgba(54, 54, 54, 0.06) 41px,
            rgba(218, 218, 218, 0.06) 41px,
            rgba(218, 218, 218, 0.06) 64px,
            rgba(117, 117, 117, 0.06) 64px,
            rgba(117, 117, 117, 0.06) 85px,
            rgba(56, 56, 56, 0.06) 85px,
            rgba(56, 56, 56, 0.06) 98px,
            rgba(26, 26, 26, 0.06) 98px,
            rgba(26, 26, 26, 0.06) 114px,
            rgba(219, 219, 219, 0.06) 114px,
            rgba(219, 219, 219, 0.06) 152px,
            rgba(11, 11, 11, 0.06) 152px,
            rgba(11, 11, 11, 0.06) 176px,
            rgba(130, 130, 130, 0.06) 176px,
            rgba(130, 130, 130, 0.06) 221px
        ),
        repeating-linear-gradient(
            135deg,
            rgba(37, 37, 37, 0.06) 0px,
            rgba(37, 37, 37, 0.06) 10px,
            rgba(185, 185, 185, 0.06) 10px,
            rgba(185, 185, 185, 0.06) 55px,
            rgba(91, 91, 91, 0.06) 55px,
            rgba(91, 91, 91, 0.06) 101px,
            rgba(50, 50, 50, 0.06) 101px,
            rgba(50, 50, 50, 0.06) 117px,
            rgba(185, 185, 185, 0.06) 117px,
            rgba(185, 185, 185, 0.06) 148px,
            rgba(90, 90, 90, 0.06) 148px,
            rgba(90, 90, 90, 0.06) 172px,
            rgba(82, 82, 82, 0.06) 172px,
            rgba(82, 82, 82, 0.06) 219px,
            rgba(56, 56, 56, 0.06) 219px,
            rgba(56, 56, 56, 0.06) 255px
        ),
        repeating-linear-gradient(
            135deg,
            rgba(11, 11, 11, 0.06) 0px,
            rgba(11, 11, 11, 0.06) 47px,
            rgba(211, 211, 211, 0.06) 47px,
            rgba(211, 211, 211, 0.06) 73px,
            rgba(115, 115, 115, 0.06) 73px,
            rgba(115, 115, 115, 0.06) 94px,
            rgba(145, 145, 145, 0.06) 94px,
            rgba(145, 145, 145, 0.06) 109px,
            rgba(40, 40, 40, 0.06) 109px,
            rgba(40, 40, 40, 0.06) 155px,
            rgba(150, 150, 150, 0.06) 155px,
            rgba(150, 150, 150, 0.06) 179px,
            rgba(79, 79, 79, 0.06) 179px,
            rgba(79, 79, 79, 0.06) 200px,
            rgba(57, 57, 57, 0.06) 200px,
            rgba(57, 57, 57, 0.06) 236px
        ),
        linear-gradient(90deg, var(--primary4), var(--primary7)) !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1),
        0px 0px 10px 0px rgba(0, 0, 0, 1) !important;
    border-radius: 10px !important;
}
@media (max-width: 950px) /*Tablet*/ {
    .layout {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}
@media (max-width: 650px) /*Tablet-Mobile*/ {
    .layout {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
    .layout .normal,
    .layout .wide {
        grid-area: span 1 / span 1;
    }
    .layout .tall,
    .layout .huge {
        grid-area: span 2 / span 1;
    }
    .app .wrapper .title .version,
    .app .wrapper .subtitle {
        display: none;
    }
}
@media (max-width: 600px) {
    .layout {
        grid-auto-rows: minmax(min-content, calc(50vh - var(--nav-height)));
    }
    .layout .wide {
        grid-area: span 2 / span 1;
    }
}
@media (max-width: 1200px) and (min-width: 950px) /*Desktop-Tablet : Menu on*/ {
    .show-menu .layout {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}
.fade {
    animation: fade 0.3s linear 1 forwards;
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.search-loading {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 15px auto;
    border-top: 5px solid rgba(255, 255, 255, 0.8);
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    box-sizing: border-box;
    border-radius: 50px;
    animation: load 0.8s linear infinite normal;
}
@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.external {
    background: #dcdcdc;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: linear-gradient(
            41deg,
            rgba(107, 107, 107, 0.04) 0%,
            rgba(107, 107, 107, 0.04) 8%,
            rgba(31, 31, 31, 0.04) 8%,
            rgba(31, 31, 31, 0.04) 100%
        ),
        linear-gradient(
            9deg,
            rgba(228, 228, 228, 0.04) 0%,
            rgba(228, 228, 228, 0.04) 62%,
            rgba(54, 54, 54, 0.04) 62%,
            rgba(54, 54, 54, 0.04) 100%
        ),
        linear-gradient(
            124deg,
            rgba(18, 18, 18, 0.04) 0%,
            rgba(18, 18, 18, 0.04) 37%,
            rgba(233, 233, 233, 0.04) 37%,
            rgba(233, 233, 233, 0.04) 100%
        ),
        linear-gradient(
            253deg,
            rgba(201, 201, 201, 0.04) 0%,
            rgba(201, 201, 201, 0.04) 55%,
            rgba(47, 47, 47, 0.04) 55%,
            rgba(47, 47, 47, 0.04) 100%
        ),
        linear-gradient(
            270deg,
            rgba(172, 172, 172, 0.04) 0%,
            rgba(172, 172, 172, 0.04) 33%,
            rgba(26, 26, 26, 0.04) 33%,
            rgba(26, 26, 26, 0.04) 100%
        ),
        linear-gradient(
            64deg,
            rgba(11, 11, 11, 0.04) 0%,
            rgba(11, 11, 11, 0.04) 38%,
            rgba(87, 87, 87, 0.04) 38%,
            rgba(87, 87, 87, 0.04) 100%
        ),
        linear-gradient(
            347deg,
            rgba(199, 199, 199, 0.04) 0%,
            rgba(199, 199, 199, 0.04) 69%,
            rgba(4, 4, 4, 0.04) 69%,
            rgba(4, 4, 4, 0.04) 100%
        ),
        linear-gradient(
            313deg,
            rgba(36, 36, 36, 0.04) 0%,
            rgba(36, 36, 36, 0.04) 20%,
            rgba(91, 91, 91, 0.04) 20%,
            rgba(91, 91, 91, 0.04) 100%
        ),
        linear-gradient(180deg, rgb(13, 71, 161), rgb(33, 150, 243));
}
.folder {
    width: 100%;
    height: max-content;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.file-icon {
    width: 150px;
    height: 150px;
}
.external.no-bg {
    background: #ffffff;
    overflow: auto;
    display: flex !important;
    flex-direction: row !important;
}
.external.no-bg .file {
    width: auto;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 3px solid #ffffff;
    transition: outline 0.3s;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #000000;
    text-decoration: none;
}
.external.no-bg .file:hover {
    border: 3px solid #000000;
}
.external.no-bg .file.file-fill {
    width: 100%;
    flex: 1;
    font-size: 30px;
    font-weight: 900;
    margin: 40px 0px;
}
.external.no-bg .file .title {
    width: auto !important;
    display: inline-block !important;
    overflow: hidden;
    max-width: 150px;
    white-space: nowrap;
}
.external .external-job-search {
    width: 100%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 1px #000000;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.external-job-search * {
    width: 100%;
    margin: 10px 10px;
    border-radius: 50px;
    border: 0px solid transparent;
    font-family: var(--font-sub-title);
    padding: 5px 15px;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-size: 20px;
}
.external-job-search .keyword,
.external-job-search .place {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
    transition: color 0.3s, background-color 0.3s;
    min-width: 200px;
    flex: 1;
}
.external-job-search .keyword:focus,
.external-job-search .place:focus {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.8);
}
.external-job-search .keyword::placeholder,
.external-job-search .place::placeholder {
    color: rgba(0, 0, 0, 0.6);
}
.external-job-search .button {
    max-width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-position 0.5s;
    color: white;
    background-image: linear-gradient(
        to right,
        rgb(13, 71, 161) 0%,
        rgb(33, 150, 243) 51%,
        rgb(13, 71, 161) 100%
    );
    background-size: 200% auto;
}
.external-job-search .button:hover,
.external-job-search .button:focus {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.external-job-search *:focus {
    outline: 0px solid transparent;
}
.high-contrast {
    filter: contrast(2.5);
}
.external-job-search-result {
    width: 100%;
    height: 100%;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    padding: 10px 0px;
    overflow-y: auto;
    overflow-x: hidden;
    grid-gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-family: var(--font-sub-titile);
}
.external-job {
    position: relative;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    background: #ffffff;
    display: flex;
    flex-direction: column;
}
.external-job .top {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.external-job a {
    color: #000000;
    text-decoration: none;
}
.external-job .top .company {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.external-job .top .company img,
.external-job .top .company svg {
    width: auto;
    height: 180px;
    max-width: 40vw;
}
.external-job .top .company .name {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 900;
}
.external-job .top .company:hover .name {
    text-decoration: underline;
}
.external-job .top .title {
    width: auto;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}
.external-job .apply .short {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
}
.external-job .apply .description {
    text-align: justify;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 30px;
}
.external-job .apply .details .skill {
    padding: 5px 15px;
    border-radius: 50px;
    margin: 5px 3px;
    letter-spacing: 1px;
    font-size: 18px;
    color: #ffffff;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
.external-job .apply .details .skill.skill-true {
    background: #2196f3;
}
.external-job .apply .details .skill.skill-false {
    background: #e91e63;
}
.external-job .apply .details .skill.skill-true::before {
    content: "\2714";
    margin-right: 10px;
}
.external-job .apply .details .skill.skill-false::before {
    content: "\2716";
    margin-right: 10px;
}
.details p.skill-wrap {
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.external-job .apply ul,
.external-job .apply ol {
    padding-left: 20px;
}
.external-job .apply h1,
.external-job .apply h2,
.external-job .apply h3,
.external-job .apply h4,
.external-job .apply h5,
.external-job .apply h6 {
    padding: 20px 0px;
}
.external-job .apply p {
    padding: 10px 0px;
}
.external-job .apply .details {
    text-decoration: underline;
}
.external-job .apply .details.details-inverse {
    text-decoration: none !important;
}
.external-job .apply .apply-button {
    float: right;
    background: #212121;
    color: #ffffff;
    padding: 10px 25px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    width: auto;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 50px;
}
.external-job .apply .apply-button:focus {
    outline: 0px solid transparent;
}
.external-job .apply .apply-button.apply-button-failed {
    background: #f44336;
}
.external-job .apply .applied {
    float: right;
    padding: 10px 25px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    width: auto;
    display: inline-block;
}
.external-job .apply .apply-button:hover {
    background: #000000;
}
.apply-button svg {
    margin-left: 10px;
    animation: load 2s linear infinite normal;
}
.apply-button:not(.progress) svg {
    display: none;
}
.spacer {
    width: 100%;
    height: 1px;
    background: transparent;
}
.external-job.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.external-job.not-found .not-found {
    width: 50vmin;
    height: 50vmin;
    min-width: 200px;
    min-height: 200px;
    background-image: url("../../images/no-results.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.external-job.not-found .text {
    font-size: 25px;
    font-weight: 900;
    color: var(--primary8);
    margin-top: 30px;
    letter-spacing: 3px;
}
@media (max-width: 700px) {
    .external-job .top {
        flex-direction: column;
    }
    .external-job .top .company {
        margin-right: 0px;
    }
    .external-job .title {
        margin-top: 20px;
        font-size: 5vmin !important;
    }
    .external-job .name {
        font-size: 4vmin !important;
    }
    .external-job .short {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .external-job .short .type {
        margin-bottom: 30px;
    }
}
@media (max-width: 600px) {
    .external-job.not-found .not-found {
        width: 90vw;
        height: 90vw;
    }
}
.external.external-recommendation {
    background-image: linear-gradient(0deg, #0093e9, #80d0c7);
}
.external.external-recommendation .keyword {
    color: #000000 !important;
}
.skill-recommendation {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    position: relative;
}
.skill-recommendation-result {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: visible;
}
.skill-recommendation .skill,
.skill-recommendation .no-skill {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 10px;
    font-size: 22px;
    letter-spacing: 2px;
}
.skill-recommendation .skill {
    color: #000000;
    min-width: 100px;
    text-align: center;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5),
        -2px -2px 5px 0px rgba(255, 255, 255, 0.5);
}
.skill-recommendation .no-skill {
    background: #f44336;
    color: #000000;
}
@media (max-width: 550px) {
    .skill-recommendation .skill {
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5),
            -2px -2px 5px 0px rgba(255, 255, 255, 0.5);
        padding: 8px 15px;
        margin: 8px;
    }
}
@media (max-width: 300px) {
    .skill-recommendation .skill {
        min-width: calc(100% - 25px);
    }
}
.thick {
    font-weight: 900;
    font-size: 25px;
    text-transform: capitalize;
}
.errorText {
    color: #f44336;
}
