<div class="layout dashboard">
  <div class="item wide"></div>
  <div class="item tall"></div>
  <div class="item normal"></div>
  <div class="item normal special"></div>
  <div class="item huge"></div>
  <div class="item normal"></div>
  <div class="item normal"></div>
  <div class="item normal"></div>
  <div class="item wide profile"></div>
  <div class="item normal"></div>
  <div class="item normal"></div>
  <div class="item normal special"></div>
</div>
