<div class="external">
  <div class="external-job-search">
    <input type="text" class="keyword" id="external-job-search-keyword" placeholder="Keyword">
    <input type="text" class="place" id="external-job-search-place" placeholder="Place">
    <input type="button" class="button" value="Search" onclick="searchExternalJob();">
  </div>
  <div class="external-job-search-result" id="external-job-search-result">
    <!-- Contents will be dynamically fetched -->
  </div>
</div>
