<div class="layout dashboard single-layout">
  <div class="item wide prediction <%-(placement)?'prediction-success':'prediction-failure'%>">
    <div class="icon"></div>
    <div class="wrap">
      <div class="title"><%-(placement)?'Congrats':'Sorry'%></div>
      <%
        if(placement)
        {
          %>
            <div class="sub-title">You have a high <!--<%-percent%>%--> chance to get placed.</div>
            <div class="sub-title">Don't stop, Keep training.</div>
            <div class="sub-title">See Suggestions.</div>
          <%
        }
        else
        {
          %>
            <div class="sub-title">Your chances of getting placed are low<!-- (<%-percent%>%)-->.</div>
            <div class="sub-title">Don't let this discourage you.</div>
            <div class="sub-title">See Suggestions.</div>
          <%
        }
      %>
    </div>
  </div>
  <div class="item tall suggestion">
    <div class="title">Suggestions</div>
    <div class="sub-title">Complete more Projects</div>
    <div class="sub-title">Try to do Internships</div>
    <div class="sub-title">Learn new Skills</div>
    <div class="sub-title">Clear Arrears, if any</div>
    <div class="sub-title">Prepare for Aptitude</div>
    <div class="sub-title">Prepare for HR Interview</div>
  </div>
  <div class="item normal item-link" loadtab="training-resources">
    <div class="fullwrapper inversefullwrapper">
      <div class="titlewrapper">
        <div class="iconic">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
        </div>
        <div class="title">Training Resources</div>
      </div>
      <div class="contents">
        <div class="content">Access study materials</div>
        <div class="content">Prepare for the Placement Drive.</div>
      </div>
    </div>
  </div>
  <div class="item normal item-link" loadtab="recommendation">
    <div class="fullwrapper inversefullwrapper">
      <div class="titlewrapper">
        <div class="iconic">
          <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="7.5 4.21 12 6.81 16.5 4.21"></polyline><polyline points="7.5 19.79 7.5 14.6 3 12"></polyline><polyline points="21 12 16.5 14.6 16.5 19.79"></polyline><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
        </div>
        <div class="title">Skill Recommendation</div>
      </div>
      <div class="contents">
        <div class="content">Get Personalized Skill Recommendation.</div>
        <div class="content">Only you can see the results.</div>
      </div>
    </div>
  </div>
</div>
