<div class="external external-recommendation">
  <div class="external-job-search">
    <input type="text" class="keyword" id="skill-recommendation-keyword" placeholder="Keyword">
    <input type="button" class="button" value="Search" onclick="recommendSkills();">
  </div>
  <div class="skill-recommendation">
    <div class="skill-recommendation-result" id="skill-recommendation-result">
      <!-- Contents will be dynamically fetched -->
    </div>
  </div>
</div>
