<div class="dashboard">
  <div class="quarter">
    <div class="iclist">
      <div class="ic">
        <div class="icon"></div>
        <div class="title">Title 1</div>
        <div class="subtitle">Subtitle 1</div>
      </div>
      <div class="ic">
        <div class="icon"></div>
        <div class="title">Title 2</div>
        <div class="subtitle">Subtitle 2</div>
      </div>
      <div class="ic">
        <div class="icon"></div>
        <div class="title">Title 3</div>
        <div class="subtitle">Subtitle 3</div>
      </div>
      <div class="ic">
        <div class="icon"></div>
        <div class="title">Title 4</div>
        <div class="subtitle">Subtitle 4</div>
      </div>
      <div class="ic">
        <div class="icon"></div>
        <div class="title">Title 5</div>
        <div class="subtitle">Subtitle 5</div>
      </div>
      <div class="ic">
        <div class="icon"></div>
        <div class="title">Title 6</div>
        <div class="subtitle">Subtitle 6</div>
      </div>
    </div>
    <div class="listcontainer">
      <div class="card rounded bgcol">

      </div>
      <div class="card rounded wbg">

      </div>
      <div class="card subgrid">
        <div class="subcard rounded">
          <div class="icon"></div>
          <div class="content">
            <div class="title title-large">Main Title very Long</div>
            <div class="title">Sub Title</div>
          </div>
        </div>
        <div class="subcard rounded">
          <div class="icon"></div>
          <div class="content">
            <div class="title title-large">Main Title very Long</div>
            <div class="title">Sub Title</div>
          </div>
        </div>
        <div class="subcard rounded">
          <div class="icon"></div>
          <div class="content">
            <div class="title title-large">Main Title very Long</div>
            <div class="title">Sub Title</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="smallcontainer">
    <div class="notificationcontainer">
      <div class="notifytitle">Notification</div>
      <div class="notifycontainer">
        <div class="notification">
          <div class="title">Notification 1</div>
          <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        </div>
        <div class="notification">
          <div class="title">N2</div>
          <div class="desc">Notification 2</div>
        </div>
        <div class="notification">
          <div class="title">N3</div>
          <div class="desc">Notification 3</div>
        </div>
        <div class="notification">
          <div class="title">N4</div>
          <div class="desc">Notification 4</div>
        </div>
        <div class="notification">
          <div class="title">N5</div>
          <div class="desc">Notification 5</div>
        </div>
        <div class="notification">
          <div class="title">N6</div>
          <div class="desc">Notification 6</div>
        </div>
        <div class="notification">
          <div class="title">N7</div>
          <div class="desc">Notification 7</div>
        </div>
        <div class="notification">
          <div class="title">N8</div>
          <div class="desc">Notification 8</div>
        </div>
        <div class="notification">
          <div class="title">N9</div>
          <div class="desc">Notification 9</div>
        </div>
      </div>
    </div>
    <div class="gradcontainer grad">
      <div class="mainwrapper">
          <div class="icon"></div>
          <div class="wrapper">
            <div class="title">About Us</div>
            <div class="desc">Group - 12</div>
          </div>
      </div>
    </div>
  </div>
</div>
