<div class="dashboard">
  <div class="wide">
    <div class="icon-list">
      <div class="icon-wrapper">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
        </div>
        <div class="title">Home</div>
        <div class="subtitle">Main Home</div>
      </div>
      <div class="icon-wrapper">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
        </div>
        <div class="title">Gallery</div>
        <div class="subtitle">Pictures</div>
      </div>
      <div class="icon-wrapper">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
        </div>
        <div class="title">Team</div>
        <div class="subtitle">Coordinators</div>
      </div>
      <div class="icon-wrapper">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone-call"><path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
        </div>
        <div class="title">Contact</div>
        <div class="subtitle">Help</div>
      </div>
      <div class="icon-wrapper">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
        </div>
        <div class="title">Profile</div>
        <div class="subtitle">Details</div>
      </div>
      <div class="icon-wrapper">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
        </div>
        <div class="title">Logout</div>
        <div class="subtitle">Exit</div>
      </div>
    </div>
    <div class="listcontainer">
      <div class="card rounded bgcol">

      </div>
      <div class="card rounded wbg">

      </div>
      <div class="card subgrid">
        <div class="subcard rounded">
          <div class="icon"></div>
          <div class="content">
            <div class="title title-large">Main Title very Long</div>
            <div class="title">Sub Title</div>
          </div>
        </div>
        <div class="subcard rounded">
          <div class="icon"></div>
          <div class="content">
            <div class="title title-large">Main Title very Long</div>
            <div class="title">Sub Title</div>
          </div>
        </div>
        <div class="subcard rounded">
          <div class="icon"></div>
          <div class="content">
            <div class="title title-large">Main Title very Long</div>
            <div class="title">Sub Title</div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="subcard rounded equal">
        <div class="icon"></div>
        <div class="content">
          <div class="title title-large">Main Title very Long</div>
          <div class="title">Sub Title</div>
        </div>
      </div>
      <div class="subcard rounded equal">
        <div class="icon"></div>
        <div class="content">
          <div class="title title-large">Main Title very Long</div>
          <div class="title">Sub Title</div>
        </div>
      </div>
    </div>
  </div>
  <div class="small-container">
    <div class="notificationcontainer">
      <div class="notifytitle">Notification</div>
      <div class="notifycontainer">
        <div class="notification">
          <div class="title">Notification 1</div>
          <div class="desc">This is a very long long notification message used to test the height of the message in notification container along with the responsiveness of the container acccording to the dynamic size of the screen and is not user for final results.</div>
        </div>
        <div class="notification">
          <div class="title">N2</div>
          <div class="desc">Notification 2</div>
        </div>
        <div class="notification">
          <div class="title">N3</div>
          <div class="desc">Notification 3</div>
        </div>
        <div class="notification">
          <div class="title">N4</div>
          <div class="desc">Notification 4</div>
        </div>
        <div class="notification">
          <div class="title">N5</div>
          <div class="desc">Notification 5</div>
        </div>
        <div class="notification">
          <div class="title">N6</div>
          <div class="desc">Notification 6</div>
        </div>
        <div class="notification">
          <div class="title">N7</div>
          <div class="desc">Notification 7</div>
        </div>
        <div class="notification">
          <div class="title">N8</div>
          <div class="desc">Notification 8</div>
        </div>
        <div class="notification">
          <div class="title">N9</div>
          <div class="desc">Notification 9</div>
        </div>
      </div>
    </div>
    <div class="gradcontainer grad">
      <div class="mainwrapper">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
          </div>
          <div class="wrapper">
            <div class="title">About Us</div>
            <div class="desc">Group - 12</div>
          </div>
      </div>
    </div>
  </div>
</div>
