<div class="dashboard">
  <div class="quarter">
    <div class="iclist">
      <div class="ic">
        <div class="icon"></div>
        <div class="title">Title 1</div>
        <div class="subtitle">Subtitle 1</div>
      </div>
      <div class="ic">
        <div class="icon"></div>
        <div class="title">Title 2</div>
        <div class="subtitle">Subtitle 2</div>
      </div>
      <div class="ic">
        <div class="icon"></div>
        <div class="title">Title 3</div>
        <div class="subtitle">Subtitle 3</div>
      </div>
      <div class="ic">
        <div class="icon"></div>
        <div class="title">Title 4</div>
        <div class="subtitle">Subtitle 4</div>
      </div>
      <div class="ic">
        <div class="icon"></div>
        <div class="title">Title 5</div>
        <div class="subtitle">Subtitle 5</div>
      </div>
      <div class="ic">
        <div class="icon"></div>
        <div class="title">Title 6</div>
        <div class="subtitle">Subtitle 6</div>
      </div>
    </div>
    <div class="listcontainer">
      <div class="card rounded bgcol">

      </div>
      <div class="card rounded wbg">

      </div>
      <div class="card subgrid">
        <div class="subcard rounded">
          <div class="icon"></div>
          <div class="content">
            <div class="title">Switch Theme</div>
            <div class="title">
              <select onchange="switchTheme(this);">
                <option value="#f44336">Red</option>
                <option value="#E91E63">Pink</option>
                <option value="#9C27B0">Purple</option>
                <option value="#673AB7">Deep Purple</option>
                <option value="#3F51B5">Indigo</option>
                <option value="#2196F3" selected>Blue</option>
                <option value="#03A9F4">Light Blue</option>
                <option value="#00BCD4">Cyan</option>
                <option value="#009688">Teal</option>
                <option value="#4CAF50">Green</option>
                <option value="#8BC34A">Light Green</option>
                <option value="#CDDC39">Lime</option>
                <option value="#FFEB3B">Yellow</option>
                <option value="#FFC107">Amber</option>
                <option value="#FF9800">Orange</option>
                <option value="#FF5722">Deep Orange</option>
                <option value="#795548">Brown</option>
                <option value="#607D8B">Blue Grey</option>
              </select>
            </div>
          </div>
        </div>
        <div class="subcard rounded">
          // Set Theme Color After Blue
        </div>
        <div class="subcard rounded">
          // Set default Theme Color
        </div>
      </div>
    </div>
  </div>
  <div class="smallcontainer">
    <div class="notificationcontainer">
      <div class="notifytitle">Notification</div>
      <div class="notifycontainer">
        <div class="notification">
          <div class="title">N1</div>
          <div class="desc">Notification 1</div>
          <div class="close" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">&#10006;</div>
        </div>
        <div class="notification">
          <div class="title">N2</div>
          <div class="desc">Notification 2</div>
          <div class="close" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">&#10006;</div>
        </div>
        <div class="notification">
          <div class="title">N3</div>
          <div class="desc">Notification 3</div>
          <div class="close" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">&#10006;</div>
        </div>
        <div class="notification">
          <div class="title">N4</div>
          <div class="desc">Notification 4</div>
          <div class="close" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">&#10006;</div>
        </div>
        <div class="notification">
          <div class="title">N5</div>
          <div class="desc">Notification 5</div>
          <div class="close" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">&#10006;</div>
        </div>
        <div class="notification">
          <div class="title">N6</div>
          <div class="desc">Notification 6</div>
          <div class="close" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">&#10006;</div>
        </div>
        <div class="notification">
          <div class="title">N7</div>
          <div class="desc">Notification 7</div>
          <div class="close" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">&#10006;</div>
        </div>
        <div class="notification">
          <div class="title">N8</div>
          <div class="desc">Notification 8</div>
          <div class="close" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">&#10006;</div>
        </div>
        <div class="notification">
          <div class="title">N9</div>
          <div class="desc">Notification 9</div>
          <div class="close" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">&#10006;</div>
        </div>
      </div>
    </div>
    <div class="gradcontainer grad">
      <div class="mainwrapper">
          <div class="icon"></div>
          <div class="wrapper">
            <div class="title">Sample</div>
            <div class="desc">Description can be added here.</div>
          </div>
      </div>
    </div>
  </div>
</div>
