<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Not found (404)</title>
    <link rel="stylesheet" href="../static/style/404.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="title">404</div>
    <div class="sub-title">Not Found</div>
    <div class="link">
      <a href="/home" class="home">Home</a>
      <a href="javascript:history.go(-1);" class="back">Back</a>
    </div>
  </body>
</html>
