<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style/home/about.css" />
    <link rel="stylesheet" href="../static/style/nav.css" />
    <title>Developed By</title>
  </head>
  <body>
    <%- include("partials/nav.ejs",{ type, isLoggedIn }); %>
    <div class="about">
      <div class="main">
        <div class="box">
          <div>
            <img src="../static/images/about/anisha.jpg" />
          </div>
          <div class="center">
            <div>Anisha</div>
            <div class="description">
              MCA<br />2021 Passout<br />RIT Kottayam
            </div>
          </div>
        </div>
        <div class="box">
          <div>
            <img src="../static/images/about/glorina.jpg" />
          </div>
          <div class="center">
            <div>Glorina</div>
            <div class="description">
              MCA<br />2021 Passout<br />RIT Kottayam
            </div>
          </div>
        </div>
        <div class="box">
          <div>
            <img src="../static/images/about/rahul.jpg" />
          </div>
          <div class="center">
            <div>Rahul</div>
            <div class="description">
              MCA<br />2021 Passout<br />RIT Kottayam
            </div>
          </div>
        </div>
      </div>
      <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
    </div>
  </body>
</html>
