<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEEDBACK</title>
    <link rel="stylesheet" href="Feedback.css">
  </head>
  <body>
      <div id ="demo" class="container">
        <div  class="form">
            <div class="contact-form">
              <form  action="index.html">
                <span class="square"></span>
                <span class="circle one"></span>
                <span class="circle two"></span>
                <div class="input-container focus">
                  <label for="">Your Name</label>
                  <input type="text" name="name" class="input">
                </div>
                <div class="input-container focus">
                  <label for="">Your Email</label>
                  <input type="email" name="email" class="input">
                  </div>
                  <div class="input-container focus">
                    <label for="">Type</label>
                    <select type="drop" name="type" class="input">
                    <option value="volvo">Comment</option>
                    <option value="saab">Report</option>
                    </select>
                  </div>
                <div class="input-container textarea focus">
                  <label for="">Your Message</label>
                  <textarea name="message" class="input"></textarea>
                </div>
                <div class="but">
                  <button onclick="send()"  class="btn">SEND</button>
                </div>
              </form>
            </div>
            <div class="contact-info">
              <form  action="index.html">
                <div class="head">Drop Us a Feedback</div>
                <div class="para">"The pursuit of perfection often impedes improvement"
                  <p>George Will</p>
                </div>
              </form>

            </div>
        </div>
      </div>
      <script>
      function send() {
        document.getElementById("demo").innerHTML ="Thanks for your feedback...!" ;
      }
      </script>
</body>
</html>
