<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/gallery/style.css">
    <link rel="stylesheet" href="../static/style/nav.css">
    <script type="text/javascript" src="../static/script/gallery/script.js"></script>
    <title>Gallery</title>
  </head>
  <body>
    <%- include("./partials/nav",{
      loggedin,
      type
    }); %>
    <div class="container">
      <div class="wrapper">
        <%
          if(type=="admin" || type=="coordinator")
          {
            %>
              <div class="uploader" onclick="upload();">
                <div class="main">+</div>
                <div class="desc">Upload</div>
              </div>
              <form method="post" action"/gallery" enctype="multipart/form-data">
                <input type="file" id="up" name="imgallerry" accept="image/*" onchange="testUpload(event);">
              </form>
            <%
          }
          files.forEach((image,i)=>{
            name=image.split(".").slice(0,-1).join(".");
            %>
              <div class="image" id="image-<%-i%>" style="background-image:url('/pictures/<%=image%>');" showtitle="<%=name%>"></div>
            <%
          });
        %>
      </div>
    </div>
  </body>
</html>
