<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style/home/style.css">
  </head>
  <body>
    <div class="hero">
      <div class="title">Placement Management System Home</div>
      <div class="sub-title">Home</div>
    </div>
  </body>
</html>
