<!DOCTYPE html>
<html lang="en" dir="ltr" class="main">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style/home/style.css">
    <script type="module" type="text/javascript" src="../static/script/home/script.js"></script>
  </head>
  <body class="main">
    <div class="hero">
      <!--Navigation Bar Start-->
        <%- include("partials/nav.ejs",{
          loggedin:true,
          username:"27px",
          usertype:"student"
        }); %>
      <!--Navigation Bar End-->
      <object class="background" data="../static/images/home/hero.svg" type="text/xml+svg"></object>
      <div class="description">
        <div class="icon"></div>
        <div class="title">Placement Prediction & Management System</div>
        <div class="sub-title"id="lines"></div>
      </div>
    </div>
    <div class="box" id="box1">

    </div>
    <div class="flex-list">
      <div class="flex-item">
        <div class="image animated animated-box"></div>
        <div class="desc">
          <div class="title">Placement Prediction</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
      </div>
      <div class="flex-item">
        <div class="image animated animated-box"></div>
        <div class="desc">
          <div class="title">Resource Sharing</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
      </div>
      <div class="flex-item">
        <div class="image animated animated-box"></div>
        <div class="desc">
          <div class="title">Placement Statistics</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
      </div>
      <div class="flex-item">
        <div class="image animated animated-box"></div>
        <div class="desc">
          <div class="title">Campus Placement</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
      </div>
      <div class="flex-item">
        <div class="image animated animated-box"></div>
        <div class="desc">
          <div class="title">Explore more Oportunities</div>
          <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
      </div>
    </div>
  </body>
</html>
