<!DOCTYPE html>
<html lang="en" dir="ltr" class="main">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <meta name="description" content="Campus Placement Management System, with placement prediction, resourse sharing, external jobs etc.">
    <link rel="stylesheet" href="../static/style/home/style.css">
    <script type="module" type="text/javascript" src="../static/script/home/script.js"></script>
  </head>
  <body class="main">
    <div class="hero">
      <!--Navigation Bar Start-->

        <!-- loggedin:true,
        username:"27px",
        usertype:"student" -->

        <!-- loggedin:false -->

        <%- include("partials/nav.ejs",{
          loggedin:true,
          username:"27px",
          usertype:"student"
        }); %>
      <!--Navigation Bar End-->
      <object class="background" data="../static/images/home/hero.svg" type="text/xml+svg"></object>
      <div class="description">
        <div class="icon"></div>
        <div class="title">Placement Prediction & Management System</div>
        <div class="sub-title" id="lines"></div>
      </div>
    </div>
    <div class="box" id="box1">
      <div class="quote" id="quote"></div>
      <a href="/login">Get Started</a>
    </div>
    <div class="flex-list">
      <div class="flex-item">
        <div class="image animated animated-box"></div>
        <div class="desc type-desc">
          <div class="title">Placement Prediction</div>
          <div class="sub-title">This feature allows a Student to find out whether he / she will get placed in the campus placement. The prediction made by the machine Learning Algorithm will be based on the previous recruitment statistics, and will also consider student data like academic details including all marks of every course done by the student. Prediction result can only be seen by the user itself and won't be shared to any recruiter. If the prediction is negative for a student, he / she can improve themselves by working more in the skills suggested by the recommendations.</div>
        </div>
      </div>
      <div class="flex-item">
        <div class="image animated animated-box"></div>
        <div class="desc type-desc">
          <div class="title">Resource Sharing</div>
          <div class="sub-title">Finding out the right information from the vast internet can be difficult. Resource Sharing allows Coordinators to add resources, into a Storage System, which can be accessed by Students. The resources could be Video Tutorials, E-Books, and other resources. The Resources are stored in an Encrypted Storage System. There is no restrictions like department, semester etc. in data accessing. Once uploaded, it is publicly accessible by logged in students of any department or of any semester.</div>
        </div>
      </div>
      <div class="flex-item">
        <div class="image animated animated-box"></div>
        <div class="desc type-desc">
          <div class="title">Placement Statistics</div>
          <div class="sub-title">Placement Statistics will be visible to everyone, which doesn't need to be logged in. This feature allows people to view the previous placement statistics like number of companies providing job opportunities, number of students placed, top salary offering companies, top recruiting companies etc. Since these data are public, it will be useful for students who are willing to join the college to know more about the placement details.</div>
        </div>
      </div>
      <div class="flex-item">
        <div class="image animated animated-box"></div>
        <div class="desc type-desc">
          <div class="title">Campus Placement</div>
          <div class="sub-title">Campus Placement Management feature allows recruiters to post jobs / internships with a detailed description like salary, requirements / qualification, selection process rounds, MCQ questions for rounds etc. Students can apply for the post they like and if they are eligible, they will be considered for the further recruitment process. Most likely the first round will be an MCQ round, and if a student passes the criteria set by the recruiter, the student can go to next level.</div>
        </div>
      </div>
      <div class="flex-item">
        <div class="image animated animated-box"></div>
        <div class="desc type-desc">
          <div class="title">Explore more Oportunities</div>
          <div class="sub-title">Sometimes for some students, it may feel like there is not enough Campus Placements available. Using some third party APIs we provide information about external jobs posted by companies and students can attend them according to the criteria set by the recruiter who posted the job. Verification of legitimacy of those posts won't be the responsibility of any user / member in this Placement Management System.</div>
        </div>
      </div>
    </div>
  </body>
</html>
