<!DOCTYPE html>
<html lang="en" dir="ltr" class="main">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style/home/style.css">
  </head>
  <body class="main">
    <div class="hero">
      <%- include("partials/nav.ejs"); %><!--Navigation Bar-->
      <object class="background" data="../static/images/home/hero.svg" type="text/xml+svg"></object>
      <div class="description">
        <div class="icon"></div>
        <div class="title">Placement Prediction & Management System</div>
        <div class="sub-title">
          <div class="lines">Campus Placement Management System</div>
          <div class="lines">Skill Recommendation</div>
          <div class="lines">Placement Prediction</div>
        </div>
      </div>
    </div>
    <div class="page">

    </div>
  </body>
</html>
