<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/nav.css">
    <link rel="stylesheet" href="../static/style/login/style.css">
    <link rel="stylesheet" href="../static/style/default-values.css">
    <title>Login</title>
  </head>
  <body>
    <%- include("partials/nav",{
      loggedin:false
    }); %>
    <div class="blur-bg"></div>
    <div class="container">
      <div class="wrapper">
        <div class="login">
          <div class="image"></div>
          <form action="/login" method="post" class="login-form">
            <div class="title">Login</div>
            <div class="row">
              <label class="label" for="login-email">User ID</label>
              <input type="text" id="login-email" name="email" autocomplete="text">
            </div>
            <div class="row">
              <label class="label" for="login-password">Password</label>
              <input type="password" id="login-password" name="password">
            </div>
            <div class="row row-flex">
              <div class="row-wrapper">
                <input type="checkbox" id="login-remember" name="remember">
                <label class="label" for="login-remember">Remember Me</label>
              </div>
              <a href="/reset-password">Forgot Password</a>
            </div>
            <div class="row">
              <button type="reset">Clear</button>
              <button type="button" name="login">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
