<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Placement Management System</h1>
    <h4>Login</h4>
  </body>
</html>
