<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../static/style/nav.css">
    <link rel="stylesheet" href="../static/style/popup.css">
    <link rel="stylesheet" href="../static/style/home/reset-password.css">
    <script src="../static/script/popup.js"></script>
    <script src="../static/script/home/reset-password.js"></script>
  </head>
  <body>
    <!--Navigation Bar Start-->
      <%- include("partials/nav.ejs",{
        isLoggedIn,
        type
      }); %>
    <!--Navigation Bar End-->
    <div class="container" id="container">
      <div class="form">
        <input type="email" id="email" placeholder="Email">
        <button type="button" id="send-verification">Reset</button>
      </div>
    </div>
  </body>
</html>
