<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#212121">

    <link rel="stylesheet" type="text/css" href="../../static/style/recruiter/style.css">
    <script src="../../static/script/recruiter/script.js"></script>

  </head>
  <body onload="selectThisOption(_('#nav1'),_('#nav').children);">
    <div class="main" id="main">
      <div class="top">
        <div class="titlebar">
          <div class="titleleft">
            <div class="icon"></div>
            <div class="title">Placement Prediction & Management System</div>
          </div>
          <div class="titleright">
            <div class="title">username@gmail.com</div>
          </div>
        </div>
        <div class="nav" id="nav">
          <div id="nav1" class="nav-option nav-option-active" tabindex="0" onclick="selectThisOption(this,this.parentNode.children);" toURL="/recruiter/dashboard/dashboard-tabs/main">Dashboard</div>
          <div class="nav-option" tabindex="0" onclick="selectThisOption(this,this.parentNode.children);" toURL="/recruiter/dashboard/dashboard-tabs/option1">Option 1</div>
          <div class="nav-option" tabindex="0" onclick="selectThisOption(this,this.parentNode.children);" toURL="/recruiter/dashboard/dashboard-tabs/option2">Option 2</div>
          <div class="nav-option" tabindex="0" onclick="selectThisOption(this,this.parentNode.children);" toURL="/recruiter/dashboard/dashboard-tabs/option3">Option 3</div>
          <div class="nav-option" tabindex="0" onclick="selectThisOption(this,this.parentNode.children);" toURL="/recruiter/dashboard/dashboard-tabs/option4">Option 4</div>
          <div class="nav-option" tabindex="0" onclick="selectThisOption(this,this.parentNode.children);" toURL="/recruiter/dashboard/dashboard-tabs/option5">Option 5</div>
        </div>
      </div>
      <div class="bottom" id="maincontainer">

      </div>
    </div>
  </body>
</html>
