<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#212121">

    <link rel="stylesheet" type="text/css" href="../../static/style/recruiter/style.css">
    <script src="../../static/script/recruiter/script.js"></script>
  </head>
  <body>
    <div class="main" id="main">
      <div class="top">
        <div class="titlebar">
          <div class="titleleft" onclick="window.location='/home';">
            <div class="icon"></div>
            <div class="title">Placement Prediction & Management System</div>
          </div>
          <div class="titleright">
            <div class="title"><%-email%></div>
          </div>
        </div>
        <div class="nav" id="nav" data-user="<%-usertype%>">
          <!-- Rest of the URL is in the Script -->
          <div class="nav-option nav-option-active" toURL="main">Dashboard</div>
          <%
            if(usertype=="recruiter")
            {
              %>
                <div class="nav-option" id="job" toURL="job">Job</div>
                <div class="nav-option" id="status" toURL="status">Job Status</div>
                <div class="nav-option" id="schedule" toURL="schedule">Schedule</div>
                <div class="nav-option" id="mcq" toURL="mcq">MCQ</div>
                <div class="nav-option" id="students" toURL="students">Students</div>
              <%
            }
            else if(usertype=="admin")
            {
              %>
                <div class="nav-option" id="add-company" toURL="add-company">Add Company</div>
                <div class="nav-option" id="add-course" toURL="add-course">Add Course</div>
                <div class="nav-option" id="schedule" toURL="schedule">Schedule</div>
                <div class="nav-option" id="students" toURL="students">Students</div>
                <div class="nav-option" id="dump-data" toURL="dump-data">Dump Data</div>

              <%
            }
          %>
        </div>
      </div>
      <div class="bottom" id="maincontainer">

      </div>
    </div>
  </body>
</html>
