@import "../default-values.css";
*
{
  padding:0;
  margin:0;
}
:root
{
  height:100%;
}
body,.main
{
  width:100%;
  height:100%;
  overflow:hidden;
  user-select:none;
  --light:#f1f1f1;
  --dark:#303030;

  --dark-grey:#9c9c9c;
  --light-gray:#c9c9c9;

  --primary:#A0A0A0;
  --primary0:#909090;
  --primary1:#808080;
  --primary2:#707070;
  --primary3:#606060;
  --primary4:#505050;
  --primary5:#404040;
  --primary6:#303030;
  --primary7:#202020;
  --primary8:#101010;
  --primary9:#000000;

  --title-size:25px;
}
.main
{
  background-color:var(--light);
  display:grid;
  grid-template-rows:minmax(max-content,60px) auto;
}
.main .top
{
  /* background-color:var(--primary8); */
  display:grid;
  grid-template-rows:minmax(max-content,30px) 1fr;
  background-image:repeating-linear-gradient(135deg, rgba(47, 47, 47, 0.08) 0px, rgba(47, 47, 47, 0.08) 45px,rgba(50, 50, 50, 0.08) 45px, rgba(50, 50, 50, 0.08) 86px,rgba(18, 18, 18, 0.08) 86px, rgba(18, 18, 18, 0.08) 123px,rgba(249, 249, 249, 0.08) 123px, rgba(249, 249, 249, 0.08) 141px,rgba(64, 64, 64, 0.08) 141px, rgba(64, 64, 64, 0.08) 185px,rgba(242, 242, 242, 0.08) 185px, rgba(242, 242, 242, 0.08) 196px,rgba(199, 199, 199, 0.08) 196px, rgba(199, 199, 199, 0.08) 236px),repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.08) 0px, rgba(0, 0, 0, 0.08) 48px,rgba(119, 119, 119, 0.08) 48px, rgba(119, 119, 119, 0.08) 79px,rgba(81, 81, 81, 0.08) 79px, rgba(81, 81, 81, 0.08) 110px,rgba(203, 203, 203, 0.08) 110px, rgba(203, 203, 203, 0.08) 145px,rgba(35, 35, 35, 0.08) 145px, rgba(35, 35, 35, 0.08) 184px,rgba(96, 96, 96, 0.08) 184px, rgba(96, 96, 96, 0.08) 232px,rgba(194, 194, 194, 0.08) 232px, rgba(194, 194, 194, 0.08) 267px),linear-gradient(90deg,#151515,#151515);
}
.top .titlebar
{
  border-bottom:1px solid rgba(255,255,255,0.4);
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
.titlebar .titleleft,.titlebar .titleright
{
  width:auto;
  display:inline-block;
  padding:6px 5px;
  font-size:18px;
  font-family:var(--font-monospace);
  color:#FFFFFF;
  vertical-align:middle;
}
.titlebar .titleleft
{
  text-align:left;
}
.titlebar .icon,.titlebar .title
{
  display:inline-block;
  vertical-align:middle;
}
.titlebar .icon
{
  width:30px;
  height:30px;
  background-image:url("../../images/favicon.svg");
  background-position:center;
  background-repeat:no-repeat;
  background-size:80%;
  margin:0;
  padding:0;
}
.titleright
{
  text-align:right;
}
.titleright .title
{
  text-align:right;
  padding:5px;
}
.top .nav
{
  display:flex;
  flex-direction:row;
  white-space:nowrap;
  overflow-y:hidden;
  overflow-x:auto;
}
.nav::-webkit-scrollbar
{
  width:8px;
  height:8px;
  background-color:var(--primary2);
}
.nav::-webkit-scrollbar:hover
{
  background-color:var(--primary3);
}
.nav::-webkit-scrollbar-thumb
{
  background-color:var(--primary5);
}
.nav::-webkit-scrollbar-thumb:hover
{
  background-color:var(--primary9);
}
.nav .nav-option
{
  display:inline-block;
  color:#FFFFFF;
  padding:8px 25px;
  border-right:1px solid rgba(0,0,0,0.5);
  text-align:center;
  font-family:var(--font-monospace);
  white-space:nowrap;
}
.nav .nav-option:hover,.nav .nav-option:focus
{
  background-color:rgba(255,255,255,0.5);
  color:#000000;
  font-weight:900;
  cursor:pointer;
  outline:none;
}
.nav-option-active,.nav-option-active:hover
{
  background-color:var(--light) !important;
  color:var(--primary9) !important;
  font-weight:900;
}
.box
{
  width:100%;
  height:calc(var(--length) / 10);
  margin:calc(var(--length) / 12.5) 0px;
  transform-origin:5% center;
  opacity:1;
  transition:transform 0.5s,opacity 0.2s,background-color 0.5s,border-radius 0.8s;
}
.box
{
  width:100%;
  height:calc(var(--length) / 10);
  background-color:#FFFFFF;
  margin:calc(var(--length) / 8) 0px;
  transform-origin:12% center;
  opacity:1;
  transition:transform 0.5s,opacity 0.2s,background-color 0.5s,border-radius 0.8s;
}
.main .bottom
{
  overflow-x:hidden;
  overflow-y:auto;
  min-width:250px;
  position:relative;
}
.bottom .loader,.bottom .loadererror
{
  width:70px;
  height:70px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) rotate(360deg);
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
}
.bottom .loader
{
  animation:roll 7s linear infinite normal;
}
@keyframes roll
{
  0%
  {
    transform:translate(-50%,-50%) rotate(360deg);
  }
  100%
  {
    transform:translate(-50%,-50%) rotate(0deg);
  }
}
.bottom .loadererror
{
  animation:error 0.5s linear infinite alternate;
}
@keyframes error
{
  0%
  {
    transform:translate(-50%,-50%) scale(1,1);
  }
  100%
  {
    transform:translate(-50%,-50%) scale(1.2,1.2);
  }
}
.dashboard
{
  width:100%;
  height:100%;
  overflow:visible;
  display:grid;
  grid-template-columns:minmax(max-content,2fr) minmax(150px,350px);
  grid-template-rows:100%;
  grid-gap:12px;
  padding:12px;
  box-sizing:border-box;
}
.dashboard .wide
{
  border:1px solid var(--primary8);
  padding:10px;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
}
.dashboard .small-container
{
  display:inline-block;
}
.dashboard .wide,
.dashboard .small-container
{
  border-radius:5px;
  border:2px solid var(--dark-grey);
  background:#FFFFFF;
}
.notificationcontainer
{
  box-sizing:border-box;
  height:calc(100% - 100px);
  width:100%;
  display:flex;
  flex-direction:column;
  overflow:hidden;
}
.notifytitle
{
  text-align:center;
  padding:10px;
  letter-spacing:1.5px;
  border-bottom:1px solid var(--primary8);
  font-family:var(--font-monospace);
  font-weight:900;
  color:var(--primary9);
}
.notifycontainer
{
  overflow-x:hidden;
  overflow-y:auto;
  padding:15px;
}
.gradcontainer
{
  border:1px solid rgba(0,0,0,0.5);
  padding:10px;
  box-sizing:border-box;
  height:100px;
  position:relative;
}
.notifycontainer::-webkit-scrollbar
{
  width:8px;
  height:8px;
  background-color:var(--primary0);
}
.notifycontainer::-webkit-scrollbar:hover
{
  background-color:var(--primary1);
}
.notifycontainer::-webkit-scrollbar-thumb
{
  background-color:var(--primary8);
}
.notifycontainer::-webkit-scrollbar-thumb:hover
{
  background-color:var(--primary9);
}
.gradcontainer .mainwrapper
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.gradcontainer .icon
{
  width:75px;
  height:75px;
  margin-right:10px;
  padding:10px;
  box-sizing:border-box;
  display:inline-block;
  transition:transform 0.3s;
}
.gradcontainer .wrapper
{
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.gradcontainer .title
{
  width:auto;
  white-space:nowrap;
  font-family:var(--font-title);
  font-size:24px;
}
.gradcontainer .desc
{
  width:auto;
  white-space:nowrap;
  font-family:var(--font-sub-title);
  font-size:18px;
  letter-spacing:1px;
}
.grad
{
  /* background:linear-gradient(90deg,var(--primary3),var(--primary9)); */
  box-shadow:0px 0px 10px 1px rgba(0,0,0,1);
  transition:box-shadow 0.5s;
  color:#FFFFFF;
  background-image: repeating-linear-gradient(135deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(22.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, hsl(194,74%,56%),hsl(266,74%,56%),hsl(338,74%,56%),hsl(50,74%,56%),hsl(122,74%,56%));
}
.grad:hover
{
  box-shadow:0px 0px 0px 0px rgba(0,0,0,0);
}
.gradcontainer:hover .mainwrapper .icon
{
  transform:scale(1.3);
}
.notification
{
  padding:18px;
  min-height:50px;
  margin-bottom:15px;
  position:relative;
  box-shadow:0px 0px 0px 0px rgba(0,0,0,0);
  transition:border-color 0.5s;
  border:2px solid var(--light-gray);
  box-sizing:border-box;
  border-radius:5px;
  background:#fdfdfd;
}
.notification:last-child
{
  margin-bottom:5px;
}
.rounded:hover,.notification:hover
{
  border-color:var(--dark-gray);
}
.notification .close
{
  position:absolute;
  top:0;
  right:0;
  padding:2px 5px;
  display:inline;
  color:#000000;
  transition:color 0.3s;
}
.notification .close:hover
{
  color:#FF0000;
}
.notification .title
{
  color:var(--primary8);
  font-family:var(--font-sub-title);
  font-weight:600;
  font-size:19px;
  letter-spacing:1px;
  margin-bottom:8px;
}
.notification .desc
{
  color:var(--primary3);
  font-family:var(--font-sub-title);
  font-weight:300;
  font-size:15px;
  text-align:justify;
  letter-spacing:1px;
  line-height:25px;
}
.rounded
{
  border-radius:8px;
  box-sizing:border-box;
  transition:border-color 0.5s;
}
.icon-list,.listcontainer
{
  width:100%;
  height:100%;
  position:relative;
  padding:15px;
  box-sizing:border-box;
  text-align:center;
}
.icon-list
{
  padding-bottom:0px;
}
.listcontainer
{
  position:relative;
  width:100%;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  padding-top:5px;
}
.icon-list .icon-wrapper
{
  width:14%;
  min-width:80px;
  height:auto;
  margin-left:1%;
  margin-right:1%;
  margin-bottom:15px;
  display:inline-block;
  box-sizing:border-box;
  text-decoration:none!important;
}
.icon-list .icon-wrapper .icon
{
  width:60px;
  height:60px;
  position:relative;
  top:0;
  left:50%;
  transform:translateX(-50%);
  padding:10px;
  box-sizing:border-box;
  transition:transform 0.3s;
}
.icon-list .icon-wrapper .icon svg,
.mainwrapper .icon svg
{
  width:100%;
  height:100%;
}
.icon-list .icon-wrapper:hover .icon
{
  transform:translateX(-50%) scale(1.3);
}
.icon-list .icon-wrapper .title,.icon-list .icon-wrapper .subtitle
{
  width:100%;
  padding-top:5px;
  text-decoration:none!important;
}
.icon-list .icon-wrapper .title
{
  font-size:18px;
  font-weight:900;
  font-family:var(--font-sub-title);
  letter-spacing:1px;
  color:#0d0d0c;
}
.icon-list .icon-wrapper .subtitle
{
  font-size:15px;
  font-family:var(--font-sub-title);
  color:var(--dark-grey);
}
.card
{
  width:calc(100% - 20px);
  height:250px;
  display:inline-block;
  margin:10px;
}
.white-light
{
  background-color:#fdfdfd;
  border:2px solid var(--light-gray);
}
.subcard
{
  background-color:#fdfdfd;
  position:relative;
  padding:15px;
  border:2px solid var(--light-gray);
}
.subcard .icon
{
  width:65px;
  height:65px;
  vertical-align:middle;
  position:absolute;
  top:50%;
  left:10px;
  transform:translateY(-50%);
  padding:10px;
  box-sizing:border-box;
}
.subcard .icon svg
{
  width:100%;
  height:100%;
}
.subcard .content
{
  width:calc(100% - 70px);
  text-align:left;
  padding:10px;
  box-sizing:border-box;
  vertical-align:middle;
  display:flex;
  flex-direction:column;
  position:absolute;
  top:50%;
  right:0;
  transform:translateY(-50%);
}
.subcard .content .title
{
  padding:3px;
  font-size:15px;
  box-sizing:border-box;
  text-align:center;
  font-family:var(--font-sub-title);
  color:var(--primary9);
  text-align:left;
  letter-spacing:1px;
}
.subcard .content .title-large
{
  font-weight:900;
}
.subgrid
{
  display:grid;
  grid-template-rows:30% 30% 30%;
  grid-gap:5%;
}
.bg-highlighted
{
  border:2px solid var(--primary9);
  background-image:radial-gradient(circle at top left, rgb(0,0,0) 0%, rgb(0,0,0) 5%,rgb(16,16,16) 5%, rgb(16,16,16) 15%,rgb(32,32,32) 15%, rgb(32,32,32) 25%,rgb(48,48,48) 25%, rgb(48,48,48) 35%,rgb(64,64,64) 35%, rgb(64,64,64) 45%,rgb(80,80,80) 45%, rgb(80,80,80) 55%,rgb(96,96,96) 55%, rgb(96,96,96) 65%,rgb(112,112,112) 65%, rgb(112,112,112) 100%);
  background-position:0% 0%;
  background-size:100%;
  transition:background-size 1s;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  text-shadow:0px 3px 3px #000000;
}
.bg-highlighted:hover
{
  background-size:150%;
}
.bg-highlighted *
{
  color:#FFFFFF;
}
.bg-highlighted .title
{
  font-size:var(--title-size);
  font-family:var(--font-title);
  font-weight:900;
  letter-spacing:2px;
}
.white-light
{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
}
.white-light *
{
  color:#000000;
}
.white-light .title
{
  font-size:var(--title-size);
  font-family:var(--font-title);
  font-weight:900;
  letter-spacing:2px;
}
.bg-highlighted svg,
.white-light svg
{
  width:100px;
  height:100px;
  margin:0px auto;
}
.loader
{
  background-image:url("../../images/loading.gif");
}
.loadererror
{
  background-image:url("../../images/warning.svg");
}
.bottom-container
{
  display:flex;
  flex-direction:row;
  height:100%;
  margin:0px 15px 15px 15px;
}
.bottom-container .equal
{
  height:100%;
  min-height:80px;
  width:100%;
  margin:0px 10px 10px 10px;
  padding:20px;
  box-sizing:border-box;
}

@media (max-width:328px)
{
  .icon-wrapper
  {
    margin-right:3% !important;
    margin-left:3% !important;
  }
}
@media (max-width:1010px)
{
  .dashboard
  {
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr;
    grid-gap:10px;
    padding:10px;
  }
  .gradcontainer
  {
    margin-bottom: 10px;
  }
  .notifycontainer
  {
    max-height:300px;
  }
}
@media (max-width:400px)
{
  .main
  {
    grid-template-rows:minmax(max-content,30px) auto;
  }
  .top .titlebar
  {
    display:none;
  }
  .nav-option
  {
    padding:15px 30px!important;
  }
}
@media (max-width:500px)
{
  .gridc
  {
    grid-template-rows:minmax(220%,max-content) minmax(100%,max-content);
  }
  .listcontainer
  {
    padding:0;
  }
  .dashboard
  {
    padding:0;
    grid-gap:0;
  }
  .wide,.small-container,.notificationcontainer
  {
    border:none !important;
    margin:0;
  }
  .notification
  {
    padding:15px;
  }
  .notification .close
  {
    top:8px;
    right:8px;
  }
  .notifytitle
  {
    border-left:none;
    border-right:none;
    border-top:1px solid var(--primary8);
    border-bottom:1px solid var(--primary8);
    background-color:#FFFFFF;
    font-family:var(--font-title);
  }
  .gradcontainer
  {
    box-shadow:none;
    margin:0;
    border-right:none;
    border-bottom:none;
    border-left:none;
  }
  .rounded
  {
    border-radius:5px;
  }
}
@media (max-width:800px)
{
  .listcontainer
  {
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr 1fr;
    padding:15px 15px 0px 15px;
  }
  .gridc
  {
    grid-template-rows:minmax(220%,max-content) minmax(100%,max-content);
  }
  .subgrid
  {
    grid-template-rows:1fr 1fr;
    grid-template-columns:1fr 1fr;
    grid-gap:10px;
  }
  .subcard:last-child
  {
    grid-area:2 / 1 / span 1 / span 2;
  }
  .bottom-container .equal
  {
    min-height:120px!important;
  }
  .bottom-container .equal:first-child
  {
    margin:0px 10px 0px 10px;
  }
  .bottom-container .equal:last-child
  {
    margin:0px 10px 10px 0px;
  }
}
@media (max-width:700px)
{
  .titlebar .titleright
  {
    display:none;
  }
}
@media (max-width:600px)
{
  .subgrid
  {
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns:1fr;
  }
  .subcard:last-child
  {
    grid-area:initial;
  }
  .bottom-container
  {
    flex-direction:column!important;
    margin:0px 25px 25px 25px;
  }
  .bottom-container .equal
  {
    margin:0px 0px 10px 0px!important;
    box-sizing:border-box;
    padding:15px!important;
    min-height:80px!important;
  }
}
@media (max-width:500px)
{
  .titlebar .titleleft .title
  {
    display:none;
  }
  .icon-list .icon-wrapper .icon
  {
    padding:15px;
  }
}
@media (max-width:400px)
{
  .listcontainer
  {
    padding:0px!important;
  }
  .bottom-container
  {
    margin:0px 10px 10px 10px;
  }
}
@media (max-width:350px)
{
  .wide
  {
    padding:0px!important;
  }
}
.link
{
  cursor:pointer;
}
