@import url("../default-values.css");
*
{
  padding:0;
  margin:0;
}
.main
{
  width:100%;
  height:100%;
  user-select:none;
}
.hero
{
  width:100%;
  height:100%;
  position:relative;
  z-index:50;
  box-shadow:0px 0px 10px 1px #000000;
}
.background
{
  position:absolute;
  right:0;
  top:0;
  width:100%;
  height:auto;
  max-width:100vmin;
  max-height:100vmin;
  z-index:1;
}
.hero .description
{
  position:absolute;
  left:0;
  bottom:0;
  margin:0px 30px;
  display:flex;
  flex-direction:column;
}
.description .icon
{
  width:20vmin;
  height:20vmin;
  background-image:url("../../images/favicon.svg");
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  margin-bottom:20px;
  animation:floater 3s ease-in-out 0s infinite alternate;
}
@keyframes floater
{
  0%
  {
    transform:translate(0px,0px);
  }
  65%
  {
    transform:translate(0px,15px);
  }
  100%
  {
    transform:translate(0px,0px);
  }
}
.description .title
{
  position:relative;
  font-family:var(--font-title);
  font-size:calc(3vmin + 3vmax);
  z-index:2;
  word-wrap:break-word;
  color:#1A0C4C;
  text-shadow:2px 2px 5px rgba(0,0,0,0.5);
  width:60%;
}
@media (max-width:1000px)
{
  .background
  {
    max-width:90vmin;
    max-height:90vmin;
  }
}
@media (max-width:930px) and (orientation:portrait)
{
  .description .title
  {
    width:40% !important;
  }
}
@media (max-width:930px)
{
  .background
  {
    max-width:100vmin;
    max-height:100vmin;
  }
  .description .title
  {
    font-size:calc(2.5vmin + 2.5vmax);
  }
}
@media (max-width:830px)
{
  .background
  {
    max-width:90vmin;
    max-height:90vmin;
  }
}
@media (max-width:730px)
{
  .description .title
  {
    width:70% !important;
    font-size:calc(2.5vmin + 2.5vmax);
  }
}
@media (max-width:730px) and (orientation:portrait)
{
  .description .title
  {
    width:100% !important;
  }
}
@media (max-width:620px) and (orientation:landscape)
{
  .description .title
  {
    width:50% !important;
  }
}
.hero .sub-title
{
  position:relative;
  z-index:2;
  font-family:var(--font-sub-title);
  word-wrap:break-word;
  margin:25px 0px;
  padding:0px 3px;
  font-size:20px;
  line-height:28px;
  min-height:30px;
  color:#444;
  letter-spacing:2px;
  word-spacing:8px;
}
@media (max-width:450px) and (orientation:portrait)
{
  .description .sub-title
  {
    min-height:60px !important;
  }
}
@media (max-width:450px)
{
  .description
  {
    margin:0px 15px !important;
  }
}
@media (max-width:400px) and (orientation:portrait)
{
  .description
  {
    text-align:center !important;
  }
  .description .sub-title
  {
    min-height:55px !important;
  }
}
@media (max-width:400px)
{
  .description .icon
  {
    margin:0px auto 20px auto;
  }
}
@media (max-width:300px)
{
  .description .sub-title
  {
    font-size:15px;
    line-height:20px;
    min-height:50px !important;
  }
}
.page
{
  width:100%;
  height:100%;
}
nav
{
  position:relative;
  display:flex;
  flex-direction:row;
  z-index:5;
  padding:0px 5px;
  transition:transform 0.8s;
}
nav .left
{
  width:50%;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
}
nav .right
{
  width:50%;
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
}
a.nav-item
{
  color:#000;
  text-decoration:none;
  font-family:var(--font-monospace);
  margin:15px 5px;
  padding:5px 12px;
  font-size:18px;
  letter-spacing:1px;
  font-weight:900;
  display:inline-flex;
  flex-direction:row;
  align-items:center;
  position:relative;
}
a.nav-item .icon
{
  display:inline-block;
  width:25px;
  height:25px;
  margin-right:6px;
  position:relative;
}
a.nav-item .icon svg
{
  width:100%;
  height:100%;
}
/* a:hover .icon svg
{
  stroke:#08F;
} */
a.nav-item .title
{
  display:inline-block;
}
a.menu
{
  display:none;
}
@media (min-width:1150px)
{
  nav a::before,nav a::after
  {
    content:"";
    position:absolute;
    width:0%;
    height:2px;
    background:#000000;
  }
  nav a::before
  {
    bottom:0;
    left:0;
    transform:translateY(100%);
  }
  nav a::after
  {
    top:0;
    right:0;
    transform:translateY(-100%);
  }
  nav a:hover::before,nav a:hover::after
  {
    animation:high-light 0.5s ease-in-out 0s forwards;
  }
  @keyframes high-light
  {
    0%
    {
      width:0%;
    }
    100%
    {
      width:100%;
    }
  }
}
@media (max-width:1150px)
{
  a.menu
  {
    display:inline-flex;
    vertical-align:middle;
    justify-content:center;
    align-items:center;
    margin:8px 5px;
  }
  .top-bar
  {
    width:100%;
    height:50px;
    box-shadow:0px 0px 10px 1px #000000;
    z-index:200;
    position:fixed;
    top:0;
    left:0;
    background-image: linear-gradient(328deg, rgba(29, 29, 29, 0.05) 0%, rgba(29, 29, 29, 0.05) 25%,rgba(226, 226, 226, 0.05) 25%, rgba(226, 226, 226, 0.05) 50%,rgba(21, 21, 21, 0.05) 50%, rgba(21, 21, 21, 0.05) 75%,rgba(216, 216, 216, 0.05) 75%, rgba(216, 216, 216, 0.05) 100%),linear-gradient(172deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 25%,rgba(108, 108, 108, 0.05) 25%, rgba(108, 108, 108, 0.05) 50%,rgba(21, 21, 21, 0.05) 50%, rgba(21, 21, 21, 0.05) 75%,rgba(236, 236, 236, 0.05) 75%, rgba(236, 236, 236, 0.05) 100%),linear-gradient(207deg, rgba(153, 153, 153, 0.05) 0%, rgba(153, 153, 153, 0.05) 25%,rgba(83, 83, 83, 0.05) 25%, rgba(83, 83, 83, 0.05) 50%,rgba(5, 5, 5, 0.05) 50%, rgba(5, 5, 5, 0.05) 75%,rgba(82, 82, 82, 0.05) 75%, rgba(82, 82, 82, 0.05) 100%),linear-gradient(297deg, rgba(26, 26, 26, 0.05) 0%, rgba(26, 26, 26, 0.05) 25%,rgba(223, 223, 223, 0.05) 25%, rgba(223, 223, 223, 0.05) 50%,rgba(232, 232, 232, 0.05) 50%, rgba(232, 232, 232, 0.05) 75%,rgba(153, 153, 153, 0.05) 75%, rgba(153, 153, 153, 0.05) 100%),linear-gradient(204deg, rgba(120, 120, 120, 0.05) 0%, rgba(120, 120, 120, 0.05) 25%,rgba(191, 191, 191, 0.05) 25%, rgba(191, 191, 191, 0.05) 50%,rgba(246, 246, 246, 0.05) 50%, rgba(246, 246, 246, 0.05) 75%,rgba(123, 123, 123, 0.05) 75%, rgba(123, 123, 123, 0.05) 100%),linear-gradient(90deg, rgb(32,234,255),rgb(37,116,255));
  }
  nav:not(.nav-bar-active)
  {
    transform:translateY(-100%);
  }
  nav
  {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(1,1fr);
    grid-gap:2.5vmin;
    padding:2.5vmin !important;
    position:fixed;
    width:calc(100% - 5vmin);
    height:calc((100% - 5vmin) - 50px);
    top:50px;
    left:0;
    z-index:100;
    background:#FFF;
  }
  nav .left,nav .right
  {
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
    grid-gap:2.5vmin;
  }
  nav a
  {
    margin:0px !important;
    padding:0px !important;
    justify-content:center;
    display:flex;
    flex-direction:column !important;
    border-radius:10px;
    transition:background-color 0.8s,color 0.3s,transform 0.3s ease-in-out 0.2s;
    transform:scale(1,1);
  }
  nav:not(.nav-bar-active) a
  {
    transform:scale(0.5,0.5);
  }
  nav a:hover
  {
    color:#FFFFFF;
    background:#2196F3;
  }
  nav a .icon
  {
    width:100%!important;
    height:15vmin!important;
    padding:0px 0px !important;
    margin:0px 0px 20px 0px !important;
    transition:stroke 0.3s;
  }
  nav a:hover .icon svg
  {
    stroke:#FFFFFF;
    stroke-width:1;
  }
  nav a .icon svg
  {
    stroke-width:0.5;
  }
}
@media (max-width:1150px) and (orientation:landscape)
{
  nav
  {
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(1,1fr);
  }
}
@media (max-width:1150px) and (orientation:portrait)
{
  nav
  {
    grid-template-columns:repeat(1,1fr);
    grid-template-rows:repeat(2,1fr);
  }
}
@media (max-width:500px)
{
  nav a .text
  {
    font-size:15px;
  }
  nav a .icon svg
  {
    stroke-width:1;
  }
}
@media (min-width:1100px)
{
  .description .icon
  {
    margin-bottom:60px;
  }
}
.box
{
  position:relative;
  width:100%;
  height:100%;
  background-color:#FFFFFF;
  z-index:10;
}
#box1
{
  height:50%;
  background:url("../../images/home/box1.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
}
.flex-list
{
  display:flex;
  flex-direction:column;
  padding:15px 0px;
  font-family:var(--font-sub-title);
  box-shadow:0px 0px 10px 1px #000000;
  position:relative;
  z-index:25;
}
.flex-list .flex-item
{
  margin:20px 30px;
  padding:20px;
  height:auto;
  display:flex;
  flex-direction:row;
}
.flex-list .flex-item:nth-child(odd)
{
  flex-flow:row;
}
.flex-list .flex-item:nth-child(even)
{
  flex-flow:row-reverse;
}
.flex-list .flex-item .image
{
  width:60vmin;
  height:60vmin;
  margin:10px;
  flex-shrink:0;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  clip-path:circle(20% at 50% 50%);
  transition:clip-path 0.3s ease-in;
  animation:move 10s ease-in-out infinite alternate;
}
.flex-list .flex-item .image::after
{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:url("../../images/home/overlay.png");
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
.flex-list .animated-box .image
{
  clip-path:circle(100% at 50% 50%) !important;
}
.flex-list .flex-item .desc
{
  margin:10px 40px;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.flex-list .flex-item .desc .title
{
  font-size:30px;
  font-weight:900;
  margin-bottom:15px;
}
.flex-list .flex-item .desc .sub-title
{
  text-align:justify;
  font-size:20px;
  line-height:40px;
}
.sub-title sup
{
  font-size:18px;
  line-height:15px;
}
.sub-title a
{
  color:#606060;
}
.sub-title a:hover
{
  color:#2196F3;
  text-decoration:none;
}
.flex-list .flex-item:nth-child(1) .image
{
  background-image:url("../../images/home/placement-prediction.png");
}
.flex-list .flex-item:nth-child(2) .image
{
  background-image:url("../../images/home/resource-sharing.jpg");
}
.flex-list .flex-item:nth-child(3) .image
{
  background-image:url("../../images/home/statistics.jpg");
}
.flex-list .flex-item:nth-child(4) .image
{
  background-image:url("../../images/home/campus-placement.jpg");
}
.flex-list .flex-item:nth-child(5) .image
{
  background-image:url("../../images/home/more-opportunities.jpg");
}
@keyframes move
{
  0%
  {
    background-position:0% 0%;
  }
  100%
  {
    background-position:100% 0%;
  }
}
@media (max-width:900px)
{
  .flex-list .flex-item
  {
    flex-direction:column;
    margin:10px 15px;
    padding:10px;
    align-items:center;
  }
  .flex-list .flex-item .image
  {
    width:82vmin;
    height:82vmin;
    margin:0;
  }
  .flex-list .flex-item .desc
  {
    margin:30px 0px;
  }
  .flex-list .flex-item .desc .sub-title
  {
    font-size:16px;
  }
  .flex-list .flex-item:nth-child(odd),.flex-list .flex-item:nth-child(even)
  {
    flex-flow:column;
  }
}
#box1 .quote
{
  color:#FFF;
  font-family:var(--font-sub-title);
  font-weight:900;
  letter-spacing:0.6vmin;
  font-size:calc(3vmin + 2vmax);
  text-shadow:0px 0px 10px #000000;
  text-align:center;
  padding:0px 10px;
}
#box1 a
{
  color:#000;
  text-decoration:none;
  border:1px solid #000;
  padding:10px 20px;
  margin:0px auto;
  font-family:var(--font-monospace);
  font-size:20px;
  background:rgba(255,255,255,1);
  box-shadow:0px 0px 5px 0px #000000;
  transition:background-color 0.3s;
}
#box1 a:hover
{
  background:var(--teal);
}
