@font-face
{
  font-family:"Roboto";
  src:url("../fonts/Roboto.eot"); /* IE9 Compat Modes */
  src:url("../fonts/Roboto.woff2") format("woff2"), /* Modern Browsers */
  url("../fonts/Roboto.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Roboto.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Roboto.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Roboto.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Roboto.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
  font-weight:normal;
  font-style:normal;
}
@font-face
{
  font-family:"Lemon";
  src:url("../fonts/Lemon.eot"); /* IE9 Compat Modes */
  src:url("../fonts/Lemon.woff2") format("woff2"), /* Modern Browsers */
    url("../fonts/Lemon.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Lemon.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Lemon.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Lemon.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Lemon.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
  font-weight:normal;
  font-style:normal;
}
@font-face
{
  font-family:"Consolas";
  src:url("../fonts/Consolas.eot"); /* IE9 Compat Modes */
  src:url("../fonts/Consolas.woff2") format("woff2"), /* Modern Browsers */
    url("../fonts/Consolas.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Consolas.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Consolas.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Consolas.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Consolas.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
  font-weight:normal;
  font-style:normal;
}
:root
{
  --blue:#007bff;
  --indigo:#6610f2;
  --purple:#6f42c1;
  --pink:#e83e8c;
  --red:#dc3545;
  --orange:#fd7e14;
  --yellow:#ffc107;
  --green:#28a745;
  --teal:#20c997;
  --cyan:#17a2b8;
  --white:#fff;
  --black:#000;
  --light:#f8f9fa;
  --gray:#6c757d;
  --dark:#343a40;

  --breakpoint-xs:0;
  --breakpoint-sm:576px;
  --breakpoint-md:768px;
  --breakpoint-lg:992px;
  --breakpoint-xl:1200px;

  --font-sub-title:"Roboto","Times New Roman",serif;
  --font-title:"Lemon","Arial Black","Arial",sans-serif;
  --font-monospace:"Consolas","Courier New","SFMono-Regular","Menlo","Monaco","Liberation Mono",monospace;

  --nav-height:60px;
}
