@media (max-height:450px) and (orientation:landscape)
{
  :root::after
  {
    content:"Rotate your Device";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9999;
    background:#E91E63;
    padding:calc(50vh - 10px) 0px;
    box-sizing:border-box;
    font-size:25px;
    color:#000;
    font-family:var(--font-monospace);
    text-align:center;
  }
}
