.overlay
{
  z-index:100;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(255,255,255,0.5);
}
.pop-up
{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:100%;
  max-width:500px;
  height:100px;
  background-image:linear-gradient(348deg, transparent 0%, transparent 76%,rgba(194, 194, 194,0.04) 76%, rgba(194, 194, 194,0.04) 93%,transparent 93%, transparent 100%),linear-gradient(150deg, transparent 0%, transparent 10%,rgba(194, 194, 194,0.04) 10%, rgba(194, 194, 194,0.04) 74%,transparent 74%, transparent 100%),linear-gradient(68deg, transparent 0%, transparent 36%,rgba(194, 194, 194,0.04) 36%, rgba(194, 194, 194,0.04) 47%,transparent 47%, transparent 100%),linear-gradient(199deg, transparent 0%, transparent 37%,rgba(194, 194, 194,0.04) 37%, rgba(194, 194, 194,0.04) 47%,transparent 47%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
  background-position:center;
  background-size:100%;
  transition:background-size 0.3s;
  border-radius:10px;
  box-shadow:0px 0px 5px 1px #000000;
  color:#FFFFFF;
  display:flex;
  flex-direction:row;
  font-family:var(--font-monospace);
}
.pop-up:hover
{
  background-size:250%;
}
.pop-up .close,.pop-up-image-preview-container .close
{
  position:absolute;
  top:0;
  right:8px;
  font-size:30px;
  font-weight:900;
}
.pop-up .close:hover,.pop-up-image-preview-container .close:hover
{
  cursor:pointer;
  color:#f44336;
}
.pop-up .icon
{
  width:100px;
  height:100px;
  position:relative;
}
.pop-up .icon svg
{
  width:60%;
  height:60%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  stroke-width:1;
}
.pop-up .pop-wrapper
{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
}
.pop-up .pop-wrapper .title
{
  font-weight:900;
  text-transform:capitalize;
  letter-spacing:1px;
  font-size:20px;
}
.pop-up .pop-wrapper .subtitle
{
  font-size:16px;
  letter-spacing:1px;
  font-weight:100;
}
@media (max-width:250px)
{
  .pop-up
  {
    flex-direction:column;
    height:auto;
    justify-content:center;
    align-items:center;
  }
  .pop-up .pop-wrapper .title,
  .pop-up .pop-wrapper .subtitle
  {
    margin:15px 10px;
  }
}
.pop-up-image-preview-container
{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:90%;
  max-width:400px;
  height:400px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  padding:20px;
  box-sizing:border-box;
  background-image: linear-gradient(310deg, rgba(131, 131, 131,0.02) 0%, rgba(131, 131, 131,0.02) 13%,transparent 13%, transparent 46%,rgba(112, 112, 112,0.02) 46%, rgba(112, 112, 112,0.02) 100%),linear-gradient(21deg, rgba(18, 18, 18,0.02) 0%, rgba(18, 18, 18,0.02) 47%,transparent 47%, transparent 82%,rgba(178, 178, 178,0.02) 82%, rgba(178, 178, 178,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}
.pop-up-image-preview-container img#pop-up-upload-preview
{
  position:relative;
  flex-shrink:0;
  width:80%;
  height:80%;
  object-fit:contain;
  object-position:center;
  border:none;
}
.pop-up-image-preview-container label
{
  font-family:var(--font-monospace);
}
.pop-up-image-preview-container .pop-up-wrapper
{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  width:100%;
}
.pop-up-image-preview-container .pop-up-wrapper input
{
  width:100%;
  font-family:var(--font-monospace);
  padding:5px 8px;
  box-sizing:border-box;
  letter-spacing:1px;
}
.pop-up-image-preview-container .pop-up-wrapper .up-button
{
  width:100%;
  padding:5px 8px;
  background:linear-gradient(135deg,#42A5F5,#1976D2);
  border:none;
  box-sizing:border-box;
  letter-spacing:1px;
  z-index:2;
  position:relative;
}
.pop-up-image-preview-container .pop-up-wrapper .up-button:hover
{
  cursor:pointer;
}
.pop-up-upload-loader
{
  position:absolute;
  top:0%;
  left:50%;
  transform:translate(-50%,100%);
  width:100px;
  height:100px;
  background:url("../images/loading.gif");
  background-position:center;
  background-size:contain;
  background-repeat:no-repeat;
  z-index:30;
}
.pop-up-loading-button::after
{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:0%;
  height:100%;
  background:#FFFFFF;
  opacity:1;
  z-index:5;
  animation:progress 1s linear infinite normal;
}
@keyframes progress
{
  0%
  {
    opacity:1;
    width:0%;
  }
  100%
  {
    opacity:0;
    width:100%;
  }
}
