<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style/student/new-profile/style.css">
    <link rel="stylesheet" href="../../static/style/nav.css">
    <script src="../../static/script/student/new-profile/script.js"></script>
  </head>
  <body>
    <video muted autoplay loop poster="../../static/videos/student-new.png" class="bg">
      <source src="../../static/videos/student-new.mp4" type="video/mp4">
    </video>
    <!--Navigation Bar Start-->
      <%- include("../partials/nav.ejs",{
        isLoggedIn,
        type,
        color:"#FFFFFF"
      }); %>
    <!--Navigation Bar End-->
    <div class="container">
      <div class="wrapper">
        <div class="top">
          <div class="progress">
            <div class="pro">
              <a class="active-box" href="#box-1">1</a>
              <a href="#box-2">2</a>
              <a href="#box-3">3</a>
              <a href="#box-4">4</a>
              <a href="#box-5">5</a>
              <a href="#box-6">6</a>
              <a href="#box-7">7</a>
              <a href="#box-8">8</a>
              <a href="#box-9">9</a>
              <a href="#box-10">10</a>
              <a href="#box-10">11</a>
              <a href="#box-10">12</a>
              <a href="#box-10">13</a>
              <a href="#box-10">14</a>
              <a href="#box-10">15</a>
            </div>
          </div>
        </div>
        <form class="main" method="POST" action="">
          <div class="box">
            <a class="a-box" id="box-1"></a>
            <div class="fit">
              <div class="info">
                <svg class="secondtimer" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="50" cy="50" r="45" fill="#2196F3"/>
                  <path id="svg_1_path" fill="none" stroke-linecap="round" stroke-width="8" stroke="#FFFFFF" stroke-dasharray="0,220" d="M50 15 a 35 35 0 0 1 0 70 a 35 35 0 0 1 0 -70"/>
                  <text id="svg_1_text" x="50" y="50" text-anchor="middle" dy="7" font-size="20" fill="#FFFFFF">0s</text>
                </svg>
                <div class="text">An OTP have been sent to your E-Mail ID. Check your E-Mail and enter the OTP to verify that the E-Mail ID you have entered is valid and belongs to you.</div>
                <button type="button" class="resend">Resend</button>
              </div>
              <div class="tab">
                Form Elements will appear here
                <a href="#box-2">Next</a>
              </div>
            </div>
          </div>
          <div class="box">
            <a class="a-box" id="box-2"></a>
            <div class="fit">
              <div class="info">
                <div class="text">An OTP have been sent to your E-Mail ID. Check your E-Mail and enter the otp to verify that the E-Mail ID you have entered is valid and belongs to you.</div>
              </div>
              <div class="tab">
                Form Elements will appear here
                <a href="#box-3">Next</a>
              </div>
            </div>
          </div>
          <div class="box">
            <a class="a-box" id="box-3"></a>
            <div class="fit">
              <div class="info">
                <div class="text">An OTP have been sent to your E-Mail ID. Check your E-Mail and enter the otp to verify that the E-Mail ID you have entered is valid and belongs to you.</div>
              </div>
              <div class="tab">
                Form Elements will appear here
                <a href="#box-1">Next</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
