<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="../../static/style/student/new-profile/style.css">
    <link rel="stylesheet" href="../../static/style/nav.css">
  </head>
  <body>
    <video muted autoplay loop poster="../../static/videos/student-new.png" class="bg">
      <source src="../../static/videos/student-new.mp4" type="video/mp4">
    </video>
    <!--Navigation Bar Start-->
      <%- include("../partials/nav.ejs",{
        isLoggedIn,
        type,
        color:"#FFFFFF"
      }); %>
    <!--Navigation Bar End-->
  </body>
</html>
