<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="theme-color" content="#2196F3">
    <link rel="preload" href="../static/style/home/style.css" as="style">
    <link rel="preload" href="../static/style/home/dash.css" as="style">
    <link rel="preload" href="../static/script/home/data.js" as="script">
    <link rel="preload" href="../static/script/home/script.js" as="script">
    <link rel="stylesheet" href="../static/style/home/style.css">
    <link rel="stylesheet" href="../static/style/home/dash.css">
    <script src="../static/script/home/data.js"></script>
    <script src="../static/script/home/script.js"></script>
    <title>Dashboard</title>
  </head>
  <body onresize="resizeSearch();" class="">
    <div class="nav" id="topbar">
      <div class="menu" id="menu" tabindex="0" onclick="toggleMenu();">
        <div class="wrapper">
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
        </div>
      </div>
      <div class="searchcontainer" id="searchcontainer">
        <input class="Search" placeholder="Search" spellcheck="false" oninput="searchItem(event,this);" onclick="searchItem(null,this);"><!--There's another one in the side bar-->
      </div>
      <div class="app">
        <div class="icon"></div>
        <div class="wrapper">
          <div class="title">
            <div class="name">PPMS</div>
            <div class="version">1.0.0</div>
          </div>
          <div class="subtitle">Campus Placement Prediction &amp; Management System</div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="options" id="options"></div>
      <div class="contents">
        <div class="body" id="body">
          <div class="layout dashboard">
            <!-- If the number of items are multiples of both 2 and 3 the better -->
            <div class="item wide horizontallist">
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
              <div class="card"></div>
            </div>
            <div class="item tall">
              <canvas id="graph3"></canvas>
            </div>
            <div class="item normal">
              <canvas id="graph"></canvas>
            </div>
            <div class="item normal special">
              <div class="fullwrapper">
                <div class="titlewrapper">
                  <div class="iconic">%</div>
                  <div class="title">Special Offer</div>
                </div>
                <div class="contents">
                  <div class="content">Discount available 1</div>
                  <div class="content">Discount available 2</div>
                </div>
              </div>
            </div>
            <div class="item huge">
              <canvas id="graph2"></canvas>
            </div>
            <div class="item normal"></div>
            <div class="item normal"></div>
            <div class="item normal"></div>
            <div class="item wide profile">
              <div class="picwrapper">
                <img class="pic" src="../static/images/student/dashboard/sample.jpg">
                <div class="overlay" onclick="alert('in development');console.log('edit profile pic in development')">
                  <div class="editwrapper">
                    <div class="icon"></div>
                    <div class="title">Edit</div>
                  </div>
                </div>
              </div>
              <div class="details">
                <div class="wrapper">
                  <div class="name">Annie Machbeth</div>
                  <div class="userid">ann47</div>
                  <div class="email">anniemachbeth@gmail.com</div>
                  <div class="phone">+91 9894956738</div>
                  <div class="bio">Artist, Intrested in Painting, Photography</div>
                </div>
              </div>
              <div class="edit" onclick="alert('in development');console.log('edit profile in development')"></div>
            </div>
            <div class="item normal"></div>
            <div class="item normal"></div>
            <div class="item normal special"></div>
          </div>
        </div>
        <div class="seperator" id="seperator" onclick="hideMenu();" style="display: none;"></div>
        <div class="side" id="side">
          <div class="searchcontainer" id="searchcontainermin">
            <input class="Search" placeholder="Search" spellcheck="false" oninput="searchItem(event,this);" onclick="searchItem(null,this);"><!--There's another one in the nav bar-->
          </div>
          <div class="option" onclick="openTab('tabs/dashboard.txt');">
            <div class="icon"></div>
            <div class="wrapper">
              <div class="title">Dashboard</div>
              <div class="subtitle">dashboard</div>
            </div>
          </div>
          <div class="option" onclick="openTab('tabs/profile.txt');">
            <div class="icon"></div>
            <div class="wrapper">
              <div class="title">Profile</div>
              <div class="subtitle">profile</div>
            </div>
          </div>
          <div class="option" onclick="openTab('tabs/option1.txt');">
            <div class="icon"></div>
            <div class="wrapper">
              <div class="title">Option 1</div>
              <div class="subtitle">options</div>
            </div>
          </div>
          <div class="option" onclick="openTab('tabs/option2.txt');">
            <div class="icon"></div>
            <div class="wrapper">
              <div class="title">Option 2</div>
              <div class="subtitle">options</div>
            </div>
          </div>
          <div class="option" onclick="openTab('tabs/option3.txt');">
            <div class="icon"></div>
            <div class="wrapper">
              <div class="title">Option 3</div>
              <div class="subtitle">option</div>
            </div>
          </div>
          <div class="option" onclick="openTab('tabs/option4.txt');">
            <div class="icon"></div>
            <div class="wrapper">
              <div class="title">Option 4</div>
              <div class="subtitle">options</div>
            </div>
          </div>
          <div class="option" onclick="openTab('tabs/option5.txt');">
            <div class="icon"></div>
            <div class="wrapper">
              <div class="title">Option 5</div>
              <div class="subtitle">options</div>
            </div>
          </div>
          <div class="option" onclick="openTab('tabs/option6.txt');">
            <div class="icon"></div>
            <div class="wrapper">
              <div class="title">Option 6</div>
              <div class="subtitle">options</div>
            </div>
          </div>
          <div class="option" onclick="openTab('');">
            <div class="icon"></div>
            <div class="wrapper">
              <div class="title">Settings</div>
              <div class="subtitle">settings</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/plugins/chart.js/Chart.min.js"></script>
    <script src="../static/plugins/chart.js/utils.js"></script>
  </body>
</html>
